@page "/it/cmdb-app-map/cruc/{CRUCMode}"
@page "/it/cmdb-app-map/cruc/{CRUCMode}/{id:int}"

@* @rendermode InteractiveAuto*@
@inject IDialogService MudDiagSvc
@inherits CRUCPageBase<CmdbToAppMapping>

@if (CurrentObject != null && CurrentEditContext != null)
{
    <EditForm EditContext="CurrentEditContext" OnValidSubmit="SaveDummy" OnInvalidSubmit="SaveDummy">
        <DataAnnotationsValidator />
        <MudPaper Class="px-4 py-3 rounded" Width="100%" Elevation="0" Square="true" Style="background-color:var(--pru-cyan-tw-50); border: solid 1px var(--pru-cyan-tw-400)">
            <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                <div style="color:var(--pru-cyan-default); font-size:28px;">
                    <span style="font-weight:800">@HeaderTitle</span>
                    @if (CRUCMode == CRUDCModes.READ)
                    {
                        <MudChip Size="Size.Small" Color="Color.Success" Class=@($"status-chip-tiny") T="string" Style="margin-top:-5px">View</MudChip>
                    }
                    else if (CRUCMode == CRUDCModes.UPDATE)
                    {
                        <MudChip Size="Size.Small" Color="Color.Info" Class=@($"status-chip-tiny") T="string">Update</MudChip>
                    }
                    else if (CRUCMode == CRUDCModes.CREATE)
                    {
                        <MudChip Size="Size.Small" Color="Color.Info" Class=@($"status-chip-tiny") T="string">New</MudChip>
                    }
                    else if (CRUCMode == CRUDCModes.CLONE)
                    {
                        <MudChip Size="Size.Small" Color="Color.Info" Class=@($"status-chip-tiny") T="string">New (Clone)</MudChip>
                    }
                </div>
                <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd">
                    @if (!IsViewMode)
                    {
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Color="Color.Primary" StartIcon="material-symbols-rounded/save_as" Class="pru-btn-base"
                                   OnClick="@(() => Save())">Save</MudButton>
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Color="Color.Primary" StartIcon="material-symbols-rounded/save" Class="pru-btn-base"
                                   OnClick="@(() => Save(true))">Save & Close</MudButton>
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Color="Color.Secondary" StartIcon="material-symbols-rounded/cancel" Class="pru-btn-base"
                                   OnClick="Cancel">Cancel</MudButton>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Color="Color.Default" StartIcon="material-symbols-rounded/close" OnClick="Cancel">Close</MudButton>
                    }
                </MudStack>
            </MudStack>
        </MudPaper>
        <MudTabs Class="pru-mud-tab cruc-pg mt-3" Elevation="0">
            <MudTabPanel Text="Main" Icon="material-symbols-rounded/home" Class="pru-mud-tab-panel" Style="min-width:120px">
                <MudPaper Class="px-4 pt-2 pb-5 overflow-y-auto" Height="calc(100vh - 210px)" Width="100%" Elevation="0" Style="position:relative">
                    <MudGrid Spacing="2" Justify="Justify.SpaceEvenly">
                        <MudItem xs="4">
                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" 
                                          Label="Code" Placeholder="APPREF-PRJ-SERVICE-NAME" MaxLength="3"
                                          @bind-Value=CurrentObject!.ObjectCode For="@(() => CurrentObject.ObjectCode)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="8">
                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" 
                                          Label="Name" MaxLength="255"
                                          @bind-Value=CurrentObject!.ObjectName For="@(() => CurrentObject.ObjectName)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField ReadOnly=@IsViewMode Clearable="false" ShrinkLabel="true" Class="pru-mud-form-field bordered" Required="true"
                                          Label="PruCORE Infra Stack (appref)" Placeholder="appref" MaxLength="6" 
                                          @bind-Value=CurrentObject!.InfraStackID For="@(() => CurrentObject.InfraStackID)" OnlyValidateIfDirty="true"
                                          Style="max-width:70px" @ref=_mudTxtAppRef />
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Required="true"
                                          Label="PruCORE Project Code" Placeholder="PRJ" MaxLength="3"
                                          @bind-Value=CurrentObject!.ProjectCode For="@(() => CurrentObject.ProjectCode)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" 
                                          Label="PruCORE Project Name" MaxLength="255"
                                          @bind-Value=CurrentObject!.ProjectName For="@(() => CurrentObject.ProjectName)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Required="true"
                                          Label="Meter Category" MaxLength="255"
                                          @bind-Value=CurrentObject!.MeterCategory For="@(() => CurrentObject.MeterCategory)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="4">
                            <MudAutocomplete Readonly="@IsViewMode" Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-autocomplete" FullWidth="true"
                                             CoerceText="true" CoerceValue="true" SearchFunc="SearchApp"
                                             Label="App Name" T="string"
                                             @bind-Value=CurrentObject!.App For="@(() => CurrentObject!.App)" />
                        </MudItem>
                        <MudItem xs="4">
                            <MudAutocomplete Readonly="@IsViewMode" Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-autocomplete" FullWidth="true"
                                             CoerceText="true" CoerceValue="true" SearchFunc="SearchAppID"
                                             Label="App ID" T="string"
                                             @bind-Value=CurrentObject!.AppID For="@(() => CurrentObject!.AppID)" />
                        </MudItem>
                        <MudItem xs="4">
                            <MudAutocomplete Readonly="@IsViewMode" Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-autocomplete" FullWidth="true"
                                             CoerceText="true" CoerceValue="true" SearchFunc="SearchService"
                                             Label="Service Name" T="string"
                                             @bind-Value=CurrentObject!.ServiceName For="@(() => CurrentObject!.ServiceName)" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Lines=4
                                          Label="Remark"
                                          @bind-Value=CurrentObject!.Remark For="@(() => CurrentObject!.Remark)" OnlyValidateIfDirty="true"
                                          MaxLines="25" MaxLength="1000" />
                        </MudItem>
                        
                        @if (CurrentEditContext.GetValidationMessages().Any() || InvalidMsgList.Count > 0)
                        {
                            <MudItem xs="12" Class="pt-10">
                                @foreach (string msg in CurrentEditContext.GetValidationMessages())
                                {
                                    <MudAlert Variant="Variant.Outlined" Severity="Severity.Warning" Dense="true" Icon="material-symbols-rounded/warning" Class="pru-alert-validation mt-2">@msg</MudAlert>
                                }
                                @foreach (string key in InvalidMsgList.Keys)
                                {
                                    <MudAlert Variant="Variant.Outlined" Severity="Severity.Warning" Dense="true" Icon="material-symbols-rounded/warning" Class="pru-alert-validation mt-2">@InvalidMsgList[key]</MudAlert>
                                }
                            </MudItem>
                        }
                    </MudGrid>
                    @if (Id > 0)
                    {
                        <MudStack Row="true" Class="px-2 py-1" AlignItems="AlignItems.Center" Spacing="1" Style="position:absolute; bottom:0; left:0; right:0; background-color:var(--pru-red-tw-50)">
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-gray-default)">Created By</MudText>
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-red-default)">@CurrentObject.CreatedUser</MudText>
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-gray-default)">on</MudText>
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-red-default)">@(CurrentObject.CreatedDateTime.HasValue? CurrentObject.CreatedDateTime!.Value.ToString("dd-MMM-yyyy hh:mm:ss tt") : " - ")</MudText>
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-gray-default)"> | Last Modified By</MudText>
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-red-default)">@CurrentObject.ModifiedUser</MudText>
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-gray-default)">on</MudText>
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-red-default)">@(CurrentObject.ModifiedDateTime.HasValue? CurrentObject.ModifiedDateTime!.Value.ToString("dd-MMM-yyyy hh:mm:ss tt") : " - ")</MudText>
                        </MudStack>
                    }
                </MudPaper>
            </MudTabPanel>
            <MudTabPanel Text="History" Icon="material-symbols-rounded/history" Class="pru-mud-tab-panel" Style="min-width:120px">
                <MudPaper Class="px-4 pt-2 pb-5 overflow-y-auto" Height="calc(100vh - 210px)" Width="100%" Elevation="0" Style="position:relative">
                </MudPaper>
            </MudTabPanel>
        </MudTabs>
    </EditForm>
}


@code {
    #region UI PARAM
    IEnumerable<string> _lbuIDList = ["PCLA", "PMLI", "PLAL"];


    AggregateDefinition<InvoiceItem> _itemAggr = new AggregateDefinition<InvoiceItem>
    {
        Type = AggregateType.Sum,
        NumberFormat = "N2",
        DisplayFormat = "{value}"
    };

    AggregateDefinition<ExpenseItem> _expAggr = new AggregateDefinition<ExpenseItem>
    {
        Type = AggregateType.Sum,
        NumberFormat = "N2",
        DisplayFormat = "{value}"
    };

    MudTextField<string>? _mudTxtAppRef;

    IEnumerable<string> _appList = [
        "APIM","Azure DevOps","Cadena - HR Payroll System","Communication Gateway","Dynatrace",
        "EDW + BI Reporting","GTE Cloud Foundation","GitHub","GitHub Copilot","Jenkins","Jumpbox",
        "PRUForce 2.0","PartnerConnect","Prophet","PruService 2.0",
        "SAWF","Splunk","SunSystems SunGL","VDI","WebPoS","[Shared]"];

    IEnumerable<string> _appIDList = [
    "N/A","PCLA001","PCLA002","PCLA003","PCLA004","PCLA005","PCLA006","PCLA007","PCLA008","PCLA009","PCLA010","PCLA011","PCLA012","PCLA013","PCLA014","PCLA015","PCLA016","PCLA017","PCLA018","PCLA019","PCLA020","PCLA021","PCLA022",
    "PCLA023","PCLA024","PCLA025","PCLA026","PCLA027","PCLA028","PCLA029","PCLA030","PCLA031","PCLA032","PCLA033"
    ];

    IEnumerable<string> _serviceNameList = ["Azure API Management",
        "Azure App Service",
        "Azure Application Gateway",
        "Azure Backup",
        "Azure Cache",
        "Azure Content Delivery Network",
        "Azure DNS",
        "Azure Data Factory",
        "Azure Databrick",
        "Azure ExpressRoute",
        "Azure Firewall",
        "Azure Key Vault",
        "Azure Kubernetes Service",
        "Azure Kubernetes Service - Node",
        "Azure Load Balancer",
        "Azure Logic Apps",
        "Azure Monitor",
        "Azure Network Watcher",
        "Azure Notification Hubs",
        "Azure SSIS Integration Runtime",
        "Azure Self-Hosted Integration Runtime",
        "Azure Service Bus",
        "Azure Traffic Manager",
        "Azure Virtual Machine",
        "Azure Virtual Network",
        "Bandwidth",
        "Database",
        "Microsoft Defender for Cloud",
        "Storage",
        "VM Software License"];
    #endregion

    #region PAGE LIFECYCLE FUNCTIONS
    public override Task SetParametersAsync(ParameterView parameters)
    {
        UrlPrefix = "/it/cmdb-app-map";

        return base.SetParametersAsync(parameters);
    }

    protected override async Task OnInitializedAsync()
    {
        switch (CRUCMode)
        {
            case CRUCModes.READ:
                {
                    CurrentObject = await Uow.CmdbToAppMappings.GetAsync(Id);
                    IsViewMode = true;
                }
                break;
            case CRUCModes.CREATE:
                {
                    CurrentObject = new();
                }
                break;
            case CRUCModes.UPDATE:
                CurrentObject = await Uow.CmdbToAppMappings.GetAsync(Id);
                break;
            case CRUCModes.CLONE:
                {
                    var tempObj = await Uow.CmdbToAppMappings.GetAsync(Id);
                    CurrentObject = tempObj.DeepClone();
                    CurrentObject!.Id = 0;
                    CurrentObject!.ObjectCode = null;
                }
                break;
        }

        CurrentEditContext = new EditContext(CurrentObject!);

        HeaderTitle = ObjectDisplayName;

        await PopulateUIControl();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            CurrentHotKeyContext = HotKeys.CreateContext()
            .Add(Code.Escape, CancelHotkeyPressed, new() { Exclude = Exclude.None })
            .Add(ModCode.Ctrl, Code.S, SaveHotKeyPressed, new() { Exclude = Exclude.None })
            .Add(ModCode.Ctrl | ModCode.Shift, Code.S, SaveAndCloseHotKeyPressed, new() { Exclude = Exclude.None });

            _mudTxtAppRef?.FocusAsync();
        }

        return base.OnAfterRenderAsync(firstRender);
    }
    #endregion

    #region UI FUNCTIONS
    private async Task<IEnumerable<string>> SearchApp(string value, CancellationToken token)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5, token);

        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
        {
            return _appList;
        }

        return _appList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<string>> SearchAppID(string value, CancellationToken token)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5, token);

        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
        {
            return _appIDList;
        }

        return _appIDList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<string>> SearchService(string value, CancellationToken token)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5, token);

        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
        {
            return _serviceNameList;
        }

        return _serviceNameList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }
    #endregion

    #region UPDATE FUNCTIONS
    protected override async Task PreSaveProcessing()
    {
        await Task.CompletedTask;
    }

    protected override async Task ValidatePreSave()
    {
        InvalidMsgList.Clear();

        bool hasExisting = await Uow.CmdbToAppMappings.HasExistingMappingAsync(CurrentObject!.ProjectCode!, CurrentObject!.InfraStackID!, CurrentObject!.MeterCategory!, CurrentObject!.Id);

        if (hasExisting)
        {
            InvalidMsgList.Add("ObjectCode_Duplicate", $"{CurrentObject!.ProjectCode!} | {CurrentObject!.InfraStackID!} | {CurrentObject!.MeterCategory!} | Mapping already exist.");
        }
    }

    protected override async Task<bool> SaveAndCommitProcessing()
    {
        DateTime timestamp = DateTime.Now;

        if (CurrentObject!.Id == 0)
        {
            CurrentObject!.CreatedUser = AuditTrailUser;
            CurrentObject!.CreatedDateTime = timestamp;
        }

        CurrentObject!.ModifiedUser = AuditTrailUser;
        CurrentObject!.ModifiedDateTime = timestamp;

        int objId = await Uow.CmdbToAppMappings.InsertOrUpdateFullAsync(CurrentObject!);
        return objId > 0;
    }
    #endregion

    #region INTERNAL FUNCTION
    async Task PopulateUIControl()
    {
        await Task.CompletedTask;
    }
    #endregion
}