@page "/itasset/software/cruc/{CRUCMode}"
@page "/itasset/software/cruc/{CRUCMode}/{id:int}"

@* @rendermode InteractiveAuto*@
@inherits CRUCPageBase<ITAsset>

@if (CurrentObject != null && CurrentEditContext != null)
{
    <EditForm EditContext="CurrentEditContext" OnValidSubmit="SaveDummy" OnInvalidSubmit="SaveDummy" >
        <DataAnnotationsValidator />
        <MudPaper Class="px-4 py-3 rounded" Width="100%" Elevation="0" Square="true" Style="background-color:var(--pru-cyan-tw-50); border: solid 1px var(--pru-cyan-tw-400)">
            <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                <div style="color:var(--pru-cyan-default); font-size:28px;">
                    <span style="font-weight:800">@HeaderTitle</span>
                    <span style="font-weight:400"> | Software</span>
                    @if (CRUCMode == CRUDCModes.READ)
                    {
                        <MudChip Size="Size.Small" Color="Color.Success" Class=@($"status-chip-tiny") T="string" Style="margin-top:-5px">View</MudChip>
                    }
                    else if (CRUCMode == CRUDCModes.UPDATE)
                    {
                        <MudChip Size="Size.Small" Color="Color.Info" Class=@($"status-chip-tiny") T="string">Update</MudChip>
                    }
                    else if (CRUCMode == CRUDCModes.CREATE)
                    {
                        <MudChip Size="Size.Small" Color="Color.Info" Class=@($"status-chip-tiny") T="string">New</MudChip>
                    }
                    else if (CRUCMode == CRUDCModes.CLONE)
                    {
                        <MudChip Size="Size.Small" Color="Color.Info" Class=@($"status-chip-tiny") T="string">New (Clone)</MudChip>
                    }
                </div>
                <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd">
                    @if (!IsViewMode)
                    {
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Color="Color.Primary" StartIcon="material-symbols-rounded/save_as" Class="pru-btn-base"
                                   OnClick="@(() => Save())">Save</MudButton>
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Color="Color.Primary" StartIcon="material-symbols-rounded/save" Class="pru-btn-base"
                                   OnClick="@(() => Save(true))">Save & Close</MudButton>
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Color="Color.Secondary" StartIcon="material-symbols-rounded/cancel" Class="pru-btn-base"
                                   OnClick="Cancel">Cancel</MudButton>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Color="Color.Default" StartIcon="material-symbols-rounded/close" OnClick="Cancel">Close</MudButton>
                    }
                </MudStack>
            </MudStack>
        </MudPaper>
        <MudTabs Class="pru-mud-tab cruc-pg mt-3" Elevation="0">
            <MudTabPanel Text="Main" Icon="material-symbols-rounded/home" Class="pru-mud-tab-panel" Style="min-width:120px">
                <MudPaper Class="px-4 pt-2 pb-5 overflow-y-auto" Height="calc(100vh - 210px)" Width="100%" Elevation="0" Style="position:relative">
                    <MudGrid Spacing="2" Justify="Justify.SpaceEvenly">
                        <MudItem xs="8">
                            <MudTextField ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" FullWidth="true" Class="pru-mud-form-field bordered" Required="true"
                                          Label="Asset Name" Placeholder="Asset name" InputId="ObjectName"
                                          @bind-Value=CurrentObject!.ObjectName For="@(() => CurrentObject.ObjectName)" MaxLength="255" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="2">
                            <MudTextField Readonly="@IsViewMode" Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Required="true" FullWidth="true"
                                          Label="Asset ID" Placeholder="Asset ID" InputId="ObjectCode"
                                          @bind-Value=CurrentObject!.ObjectCode For="@(() => CurrentObject.ObjectCode)" OnlyValidateIfDirty="true" MaxLength="80" />
                        </MudItem>
                        <MudItem xs="2">
                            <MudSelect ReadOnly="@IsViewMode" Clearable="true" Class="pru-mud-form-field bordered pru-ui-select" Required="true" FullWidth="true"
                                       Label="Asset Type" Placeholder="Select asset type"
                                       Value=CurrentObject!.AssetType For="@(() => CurrentObject.AssetType)" ValueChanged="OnAssetTypeChanged" InputId="AssetType" T="string" OnlyValidateIfDirty="true">
                                @foreach (DropdownSelectItem assetType in _assetTypeList)
                                {
                                    <MudSelectItem Value=@assetType.Key>@assetType.Value</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="4">
                            <MudSelect ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-select" FullWidth="true"
                                       Label="Category" InputId="CategoryCode"
                                       T="string" Value=CurrentObject!.CategoryCode ValueChanged="OnCategoryChanged" For="@(() => CurrentObject.CategoryCode)" OnlyValidateIfDirty="true" Disabled=@(string.IsNullOrEmpty(CurrentObject!.AssetType))>
                                @foreach (DropdownSelectItem ctg in _categoryList)
                                {
                                    <MudSelectItem Value=@ctg.Key>@ctg.Value</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="4">
                            <MudSelect ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-select"
                                       Label="Sub-Category" Placeholder="Select a sub-category"
                                       @bind-Value=CurrentObject!.SubCategory For="@(() => CurrentObject.SubCategory)" OnlyValidateIfDirty="true"
                                       Disabled=@(string.IsNullOrEmpty(CurrentObject!.CategoryCode))>
                                @foreach (DropdownSelectItem ctg in _subCategoryList)
                                {
                                    <MudSelectItem Value=@ctg.Value>@ctg.Value</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="2">
                            @* <MudChip T="string" Size="Size.Medium" Class="@(!string.IsNullOrEmpty(@CurrentObject!.AssetState) ? _stateCssClassList[@CurrentObject.AssetState!] : "status-chip-default-dark")">
                                @CurrentObject!.AssetStateText
                            </MudChip>
                            @if (!IsViewMode && CurrentObject!.Id > 0)
                            {
                                <MudTooltip Text="Update Asset State">
                                    <MudIconButton Icon="@Icons.Material.Rounded.PlayCircle" Size="Size.Small" OnClick="OnAssetStateClicked" />
                                </MudTooltip>
                            } *@
                            <MudSelect ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-select" Required="true"
                                       Label="Asset State"
                                       T="string" @bind-Value=CurrentObject!.AssetState For="@(() => CurrentObject.AssetState)" OnlyValidateIfDirty="true">
                                @foreach (DropdownSelectItem assetState in _assetStateList)
                                {
                                    <MudSelectItem Value=@assetState.Key>@assetState.Value</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="2">
                            @* <MudChip T="string" Size="Size.Medium" Class="@(!string.IsNullOrEmpty(@CurrentObject!.LifeCycleStatus) ? _statusCssClassList[@CurrentObject.LifeCycleStatus!] : "status-chip-default-dark")">
                                @CurrentObject!.LifeCycleStatusText
                            </MudChip>
                            @if (!IsViewMode && CurrentObject!.Id > 0)
                            {
                                <MudTooltip Text="Update Asset Life Cycle">
                                    <MudIconButton Icon="@Icons.Material.Rounded.PlayCircle" Size="Size.Small" OnClick="OnLifeCycleStatusClicked" />
                                </MudTooltip>
                            } *@
                            <MudSelect ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-select" Required="true"
                                       Label="Life Cycle Status"
                                       T="string" @bind-Value=CurrentObject!.LifeCycleStatus For="@(() => CurrentObject.LifeCycleStatus)" OnlyValidateIfDirty="true">
                                @foreach (DropdownSelectItem lifeCycleStatus in _assetLifeCycleList)
                                {
                                    <MudSelectItem Value=@lifeCycleStatus.Key>@lifeCycleStatus.Value</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" FullWidth="true" Class="pru-mud-form-field bordered" Required="true"
                                          Label="Product Name" MaxLength="255"
                                          @bind-Value=CurrentObject!.ProductName For="@(() => CurrentObject.ProductName)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" FullWidth="true" Class="pru-mud-form-field bordered"
                                          Label="Manufacturer/Brand" MaxLength="255"
                                          @bind-Value=CurrentObject!.Manufacturer For="@(() => CurrentObject.Manufacturer)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" FullWidth="true" Class="pru-mud-form-field bordered"
                                          Label="Serial No." MaxLength="50"
                                          @bind-Value=CurrentObject!.SerialNo For="@(() => CurrentObject.SerialNo)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" FullWidth="true" Class="pru-mud-form-field bordered"
                                          Lines=4 MaxLength="1000" MaxLines="25"
                                          Label="Spec Summary" Placeholder="Technical specification summary..."
                                          @bind-Value=CurrentObject!.SpecSummary For="@(() => CurrentObject!.SpecSummary)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" FullWidth="true" Class="pru-mud-form-field bordered"
                                          Label="Svc Desk Ticket#" MaxLength="50"
                                          @bind-Value=CurrentObject!.SvcDeskTicketNo For="@(() => CurrentObject.SvcDeskTicketNo)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" FullWidth="true" Class="pru-mud-form-field bordered"
                                          AdornmentIcon="material-symbols-rounded/assignment_ind" Adornment="Adornment.Start" AdornmentColor=@Color.Primary
                                          Label="Requestor Staff ID" MaxLength="50"
                                          @bind-Value=CurrentObject!.RequestUserID For="@(() => CurrentObject.RequestUserID)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" FullWidth="true" Class="pru-mud-form-field bordered"
                                          AdornmentIcon="material-symbols-rounded/person" Adornment="Adornment.Start" AdornmentColor=@Color.Primary
                                          Label="Requested By" Placeholder="Full name of requestor" MaxLength="150"
                                          @bind-Value=CurrentObject!.RequestUserName For="@(() => CurrentObject.RequestUserName)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="3">
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" FullWidth="true" Class="pru-mud-form-field bordered"
                                          Label="PR#" MaxLength="25"
                                          @bind-Value=CurrentObject!.PRRefNo For="@(() => CurrentObject.PRRefNo)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" FullWidth="true" Class="pru-mud-form-field bordered"
                                          Label="PO#" MaxLength="25"
                                          @bind-Value=CurrentObject!.PORefNo For="@(() => CurrentObject.PORefNo)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" FullWidth="true" Class="pru-mud-form-field bordered"
                                          Label="Quote #" MaxLength="25"
                                          @bind-Value=CurrentObject!.QuoteRefNo For="@(() => CurrentObject.QuoteRefNo)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" FullWidth="true" Class="pru-mud-form-field bordered"
                                          Label="Invoice #" MaxLength="25"
                                          @bind-Value=CurrentObject!.InvoiceRefNo For="@(() => CurrentObject.InvoiceRefNo)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudDatePicker ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-datepicker" Editable="true"
                                           AdornmentIcon="material-symbols-rounded/calendar_month" AdornmentColor=@Color.Primary
                                           Label="Purchased Date"
                                           @bind-Date=@CurrentObject.PurchaseDate DateFormat="dd-MMM-yyyy" For="@(() => CurrentObject.PurchaseDate)" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudNumericField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Culture="@CultureInfo.GetCultureInfo("en-US")" HideSpinButtons="true" Step=".1M" Format="#,##0.00" Min="0"
                                             AdornmentIcon="material-symbols-rounded/attach_money" Adornment="Adornment.Start" AdornmentColor=@Color.Primary
                                             Label="Purchased Cost" 
                                             @bind-Value=CurrentObject!.PurchaseCost For="@(() => CurrentObject.PurchaseCost)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudNumericField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Culture="@CultureInfo.GetCultureInfo("en-US")" HideSpinButtons="true" Step=".1M" Format="#,##0.00" Min="0"
                                             Label="VAT"
                                             @bind-Value=CurrentObject!.PurchaseTax For="@(() => CurrentObject.PurchaseTax)" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudComboBox ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-combo-box" Editable="true" Variant="Variant.Text" SearchBox="true" Strict="true" autocomplete="new-password"
                                         Label="Vendor/Supplier" T="string"
                                         @bind-Value="@CurrentObject.VendorID" For="@(() => CurrentObject.VendorID)"
                                         ToStringFunc="@(e => string.IsNullOrEmpty(e) ? "" : _vendorList.Single<DropdownSelectItem>(x => x.Key == e)?.Value)">
                                <ChildContent>
                                    @foreach (var vendor in _vendorList)
                                    {
                                        <MudComboBoxItem T="string" Value="@vendor.Key" Text="@vendor.Value">@vendor.Value</MudComboBoxItem>
                                    }
                                </ChildContent>
                            </MudComboBox>
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" FullWidth="true" Class="pru-mud-form-field bordered"
                                          AdornmentIcon="material-symbols-rounded/assignment_ind" Adornment="Adornment.Start" AdornmentColor=@Color.Primary
                                          Label="Employee ID" MaxLength="25"
                                          @bind-Value=CurrentObject!.CurrentUserID For="@(() => CurrentObject.CurrentUserID)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="4">
                            <MudTextField ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" FullWidth="true" Class="pru-mud-form-field bordered"
                                          AdornmentIcon="material-symbols-rounded/person" Adornment="Adornment.Start" AdornmentColor=@Color.Primary
                                          Label="Employee Name" MaxLength="25"
                                          @bind-Value=CurrentObject!.CurrentUserName For="@(() => CurrentObject.CurrentUserName)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="5">
                            <MudTextField ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" FullWidth="true" Class="pru-mud-form-field bordered"
                                          Label="Employee Department" MaxLength="25"
                                          @bind-Value=CurrentObject!.CurrentUserDept For="@(() => CurrentObject.CurrentUserDept)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" FullWidth="true" Class="pru-mud-form-field bordered"
                                          Label="Usage Purpose" MaxLength="255" MaxLines="25" Lines="4"
                                          @bind-Value=CurrentObject!.CurrentUsagePurpose For="@(() => CurrentObject.CurrentUsagePurpose)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" FullWidth="true" Class="pru-mud-form-field bordered"
                                          Label="Remark" MaxLength="255" MaxLines="25" Lines="4"
                                          @bind-Value=CurrentObject!.Remark For="@(() => CurrentObject.Remark)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        @if (Id > 0)
                        {
                            <MudStack Row="true" Class="px-2 py-1" AlignItems="AlignItems.Center" Spacing="1" Style="position:absolute; bottom:0; left:0; right:0; background-color:var(--pru-red-tw-50)">
                                <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-gray-default)">Created By</MudText>
                                <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-red-default)">@CurrentObject.CreatedUser</MudText>
                                <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-gray-default)">on</MudText>
                                <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-red-default)">@(CurrentObject.CreatedDateTime.HasValue? CurrentObject.CreatedDateTime!.Value.ToString("dd-MMM-yyyy hh:mm:ss tt") : " - ")</MudText>
                                <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-gray-default)"> | Last Modified By</MudText>
                                <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-red-default)">@CurrentObject.ModifiedUser</MudText>
                                <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-gray-default)">on</MudText>
                                <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-red-default)">@(CurrentObject.ModifiedDateTime.HasValue? CurrentObject.ModifiedDateTime!.Value.ToString("dd-MMM-yyyy hh:mm:ss tt") : " - ")</MudText>
                            </MudStack>
                        }
                    </MudGrid>
                </MudPaper>
            </MudTabPanel>
            <MudTabPanel Text="History" Icon="material-symbols-rounded/history" Class="pru-mud-tab-panel" Style="min-width:120px">
                <MudPaper Class="px-4 pt-4 pb-5 overflow-y-auto" Height="calc(100vh - 210px)" Width="100%" Elevation="0">
                    <MudStack Spacing="2" Justify=Justify.FlexStart>
                        <MudStack Row="true" Class="px-4 py-2" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween" Style="background-color:var(--pru-gray-tw-100)">
                            <MudText Typo="Typo.h5" Style="font-size:20px">Asset Audit History</MudText>
                            @if (!IsViewMode)
                            {
                                <MudButton StartIcon="material-symbols-rounded/add_circle" Size="Size.Small" Color="Color.Info" Variant="@Variant.Filled" DropShadow="false" Class="pru-btn-base in-pg-action"
                                           Disabled=@(_tempItemToAdd != null) OnClick="AddItem" FullWidth="false">
                                    Add Audit Trail
                                </MudButton>
                            }
                        </MudStack>

                        <MudDataGrid Class="pru-mud-datagrid mt-2" @ref=@_auditTrailDataGrid T="ITAssetAuditTrail" Items="CurrentObject!.AuditTrails" Dense="true" Hover="true" FixedHeader="true" Striped="true" ReadOnly=@IsViewMode
                                     Elevation="0"
                                     StartedEditingItem="@StartedEditingItem" CanceledEditingItem="@CanceledEditingItem" CommittedItemChanges="@CommittedItemChanges"
                                     EditTrigger="DataGridEditTrigger.Manual" EditMode="DataGridEditMode.Form" EditDialogOptions=@(new (){ BackgroundClass="pru-mud-datagrid-edit-diag-bg", BackdropClick=false, MaxWidth=MaxWidth.Medium, FullWidth=true }) ColumnResizeMode="ResizeMode.Container">
                            <Columns>
                                <PropertyColumn Property="x => x.RequestDate" Title="Request Date" Format="dd-MMM-yyyy" HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell" Context="i">
                                    <EditTemplate>
                                        <MudDatePicker ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Editable="true" Class="pru-mud-form-field bordered pru-ui-datepicker" Required="true"
                                                       AdornmentIcon="material-symbols-rounded/calendar_month" AdornmentColor=@Color.Primary
                                                       Label="Request Date" DateFormat="dd-MMM-yyyy"
                                                       @bind-Date=@i.Item.RequestDate For="@(() => i.Item.RequestDate)" />
                                    </EditTemplate>
                                </PropertyColumn>
                                <PropertyColumn Property="x => x.EffectiveDate" Title="Effective Date" Format="dd-MMM-yyyy" HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell" Context="i">
                                    <EditTemplate>
                                        <MudStack Row="true" Spacing="2">
                                            <MudDatePicker ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Editable="true" Class="pru-mud-form-field bordered pru-ui-datepicker" 
                                                           AdornmentIcon="material-symbols-rounded/calendar_month" AdornmentColor=@Color.Primary
                                                           Label="Effecitve Date Date" DateFormat="dd-MMM-yyyy"
                                                           @bind-Date=@i.Item.EffectiveDate For="@(() => i.Item.EffectiveDate)" />
                                            <MudDatePicker ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Editable="true" Class="pru-mud-form-field bordered pru-ui-datepicker" 
                                                           AdornmentIcon="material-symbols-rounded/calendar_month" AdornmentColor=@Color.Primary
                                                           Label="Till Date" DateFormat="dd-MMM-yyyy"
                                                           @bind-Date=@i.Item.EffTillDate For="@(() => i.Item.EffTillDate)" />
                                        </MudStack>
                                    </EditTemplate>
                                </PropertyColumn>
                                <PropertyColumn Property="x => x.ActionDesc" Title="Action" HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell" Context="i" Sortable="false">
                                    <EditTemplate>
                                        <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Start" Justify="Justify.FlexStart" StretchItems="StretchItems.All">
                                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Required="true"
                                                          Label="Action" MaxLength="255"
                                                          @bind-Value=i.Item.ActionDesc For="@(() => i.Item.ActionDesc)" OnlyValidateIfDirty="true" />
                                            <MudAutocomplete Readonly="@IsViewMode" Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-autocomplete" FullWidth="true"
                                                             CoerceText="true" CoerceValue="true" SearchFunc="SearchActionBy"
                                                             Label="Action By" T="string"
                                                             @bind-Value=i.Item.ActionUser For="@(() => i.Item.ActionUser)" />
                                        </MudStack>
                                    </EditTemplate>
                                </PropertyColumn>
                                <PropertyColumn Property="x => x.ActionUser" Title="Action By" HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell" Context="i" Sortable="false">
                                    <EditTemplate>
                                        
                                    </EditTemplate>
                                </PropertyColumn>
                                <PropertyColumn Property="x => x.CurrentUserID" Title="User Staff ID" HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell" Context="i" Sortable="false">
                                    <EditTemplate>
                                        <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Start" Justify="Justify.FlexStart" StretchItems="StretchItems.All">
                                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered"
                                                          Label="User Employee ID" MaxLength="255"
                                                          @bind-Value=i.Item.CurrentUserID For="@(() => i.Item.CurrentUserID)" OnlyValidateIfDirty="true" />
                                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered"
                                                          Label="User Name" MaxLength="255"
                                                          @bind-Value=i.Item.CurrentUserName For="@(() => i.Item.CurrentUserName)" OnlyValidateIfDirty="true" />
                                        </MudStack>
                                    </EditTemplate>
                                </PropertyColumn>
                                <PropertyColumn Property="x => x.CurrentUserName" Title="User Name" HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell" Context="i" Sortable="false">
                                    <EditTemplate>
                                        
                                    </EditTemplate>
                                </PropertyColumn>
                                <PropertyColumn Property="x => x.CurrentUserFunc" Title="Function" HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell" Context="i" Sortable="false">
                                    <EditTemplate>
                                        <MudStack Row=true Spacing="2" AlignItems="AlignItems.Start" Justify="Justify.FlexStart" StretchItems="StretchItems.All">
                                            <MudAutocomplete Readonly="@IsViewMode" Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-autocomplete" FullWidth="true"
                                                             CoerceText="true" CoerceValue="true" SearchFunc="SearchFunc"
                                                             Label="Function" T="string"
                                                             @bind-Value=i.Item.CurrentUserFunc For="@(() => i.Item.CurrentUserFunc)" />
                                            <MudAutocomplete Readonly="@IsViewMode" Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-autocomplete" FullWidth="true"
                                                             CoerceText="true" CoerceValue="true" SearchFunc="SearchDept"
                                                             Label="Department" T="string"
                                                             @bind-Value=i.Item.CurrentUserDept For="@(() => i.Item.CurrentUserDept)" />
                                        </MudStack>
                                    </EditTemplate>
                                </PropertyColumn>
                                <PropertyColumn Property="x => x.CurrentUserDept" Title="Department" HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell" Context="i" Sortable="false">
                                    <EditTemplate>
                                        
                                    </EditTemplate>
                                </PropertyColumn>
                                <PropertyColumn Property="x => x.Remark" Title="Remark" HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell" Context="i" Sortable="false">
                                    <EditTemplate>
                                        <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered"
                                                      Label="Remark" MaxLines="25" Lines=4 MaxLength="1000"
                                                      @bind-Value=i.Item.Remark For="@(() => i.Item.Remark)" OnlyValidateIfDirty="true" />
                                    </EditTemplate>
                                </PropertyColumn>
                                <TemplateColumn Hidden=@IsViewMode Title="Action" HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell d-flex justify-end" Context="i">
                                    <CellTemplate>
                                        <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@i.Actions.StartEditingItemAsync" />
                                        <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" Color="Color.Error" OnClick="@(() => RemoveItem(i.Item))" />
                                    </CellTemplate>
                                </TemplateColumn>
                            </Columns>
                        </MudDataGrid>
                    </MudStack>
                </MudPaper>
            </MudTabPanel>
        </MudTabs>
    </EditForm>
}


@code {
    #region UI PARAM
    IEnumerable<DropdownSelectItem> _assetTypeList = AssetTypes.GetForDropdownList();
    IEnumerable<DropdownSelectItem> _assetStateList = AssetStates.GetForDropdownList();
    IEnumerable<DropdownSelectItem> _assetLifeCycleList = AssetLifeCycleStatuses.GetForDropdownList();
    IEnumerable<DropdownSelectItem> _categoryList = Enumerable.Empty<DropdownSelectItem>();
    IEnumerable<DropdownSelectItem> _subCategoryList = Enumerable.Empty<DropdownSelectItem>();
    IEnumerable<DropdownSelectItem> _vendorList = Enumerable.Empty<DropdownSelectItem>();
    ITAssetAuditTrail? _tempItemToAdd;
    MudDataGrid<ITAssetAuditTrail> _auditTrailDataGrid = new();
    IEnumerable<string> _deptList = PruDepartments.GetLatest();
    IEnumerable<string> _funcList = [];

    IEnumerable<string> _esuCwsLilst = [
        "Chanraksmey Soth",
        "Savorng Chhorm",
        "Chhinlong Horn",
        "Hongseng Kheng"
    ];
    #endregion

    #region PAGE LIFECYCLE FUNCTIONS
    public override Task SetParametersAsync(ParameterView parameters)
    {
        UrlPrefix = "/itasset/software";

        return base.SetParametersAsync(parameters);
    }

    protected override async Task OnInitializedAsync()
    {
        switch (CRUCMode)
        {
            case CRUCModes.READ:
                {
                    CurrentObject = await Uow.ITAssets.GetFullAsync(Id);
                    IsViewMode = true;
                }
                break;
            case CRUCModes.CREATE:
                CurrentObject = new();
                CurrentObject.AssetType = AssetTypes.Software;
                break;
            case CRUCModes.UPDATE:
                CurrentObject = await Uow.ITAssets.GetFullAsync(Id);
                break;
            case CRUCModes.CLONE:
                {
                    var tempObj = await Uow.ITAssets.GetFullAsync(Id);

                    CurrentObject = tempObj!.DeepClone();
                    CurrentObject!.Id = 0;
                    CurrentObject!.ObjectCode = String.Empty;
                    CurrentObject!.AssetType = AssetTypes.Software;
                }
                break;
        }

        CurrentEditContext = new EditContext(CurrentObject!);

        HeaderTitle = ObjectDisplayName;

        _vendorList = await Uow.Vendors.GetForDropdownListAsync(PruLBUs.PCLA);

        if (!string.IsNullOrEmpty(CurrentObject!.AssetType))
        {
            _categoryList = await Uow.ITAssetCategories.GetForDropdownAsync(CurrentObject!.AssetType);

            if (!string.IsNullOrEmpty(CurrentObject!.CategoryCode))
            {
                _subCategoryList = await Uow.ITAssetCategories.GetForDropdownAsync(CurrentObject!.AssetType, CurrentObject!.CategoryCode);
            }
        }
    }
    #endregion

    #region UI FUNCTIONS
    private async Task OnAssetTypeChanged(string assetType)
    {
        CurrentObject!.AssetType = assetType;

        if (!string.IsNullOrEmpty(assetType))
        {
            CurrentObject!.CategoryCode = null;
            CurrentObject!.CategoryName = null;
            CurrentObject!.SubCategory = null;
            _categoryList = await Uow.ITAssetCategories.GetForDropdownAsync(assetType, string.Empty);
        }
        else
        {
            CurrentObject!.CategoryCode = null;
            CurrentObject!.CategoryName = null;
            CurrentObject!.SubCategory = null;
            _categoryList = Enumerable.Empty<DropdownSelectItem>();
        }
    }

    private async Task OnCategoryChanged(string categoryCode)
    {
        if (!string.IsNullOrEmpty(categoryCode))
        {
            CurrentObject!.CategoryCode = categoryCode;
            CurrentObject!.CategoryName = _categoryList.FirstOrDefault(x => x.Key == categoryCode)?.Value;
            CurrentObject!.SubCategory = null;
            _subCategoryList = await Uow.ITAssetCategories.GetForDropdownAsync(CurrentObject.AssetType!, categoryCode);

            if (categoryCode == "SERVER")
            {
                if (CurrentObject!.ServerInfo == null)
                    CurrentObject!.ServerInfo = new();

                CurrentObject!.ServerInfo.IsDeleted = false;
            }
            else if (CurrentObject!.ServerInfo != null)
            {
                if (CurrentObject!.ServerInfo.Id == 0)
                    CurrentObject!.ServerInfo = null;
                else
                    CurrentObject!.ServerInfo.IsDeleted = true;
            }
        }
        else
        {
            CurrentObject!.CategoryCode = null;
            CurrentObject!.CategoryName = null;
            CurrentObject!.SubCategory = null;
            _categoryList = Enumerable.Empty<DropdownSelectItem>();
        }
    }

    void AddItem()
    {
        _tempItemToAdd = new ITAssetAuditTrail();
        CurrentObject!.AuditTrails.Add(_tempItemToAdd);
        _auditTrailDataGrid.SetEditingItemAsync(_tempItemToAdd);
    }

    void RemoveItem(ITAssetAuditTrail i)
    {
        DateTime dateToRemove = i.RequestDate!.Value;
        string actionToRemove = i.ActionDesc!;

        if (i.Id > 0)
        {
            //#TODO# NOT YET IMPLEMENTED
        }
        else
        {
            CurrentObject!.AuditTrails.Remove(i);
        }
    }

    void StartedEditingItem(ITAssetAuditTrail item)
    {

    }

    void CanceledEditingItem(ITAssetAuditTrail item)
    {
        if (_tempItemToAdd != null)
        {
            // CurrentObject!.AuditTrails.RemoveAt(CurrentObject!.AuditTrails.FindIndex(x => x.OrderNo == item.OrderNo));
            _tempItemToAdd = null;
        }
    }

    void CommittedItemChanges(ITAssetAuditTrail item)
    {
        _tempItemToAdd = null;
    }

    private async Task<IEnumerable<string>> SearchActionBy(string value, CancellationToken token)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5, token);

        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
        {
            return _esuCwsLilst;
        }

        return _esuCwsLilst.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<string>> SearchFunc(string value, CancellationToken token)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5, token);

        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
        {
            return _funcList;
        }

        return _funcList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private async Task<IEnumerable<string>> SearchDept(string value, CancellationToken token)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5, token);

        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
        {
            return _deptList;
        }

        return _deptList.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }
    #endregion

    #region UPDATE FUNCTIONS
    protected override async Task PreSaveProcessing()
    {
        CurrentObject!.ObjectCode = CurrentObject!.ObjectCode!.ToUpper();
        await Task.CompletedTask;
    }

    protected override async Task ValidatePreSave()
    {
        InvalidMsgList.Clear();

        bool isDuplicated = await Uow.ITAssets.IsDuplicateCodeAsync(CurrentObject!.Id, CurrentObject!.ObjectCode!);

        if (isDuplicated)
        {
            InvalidMsgList.Add("ObjectCode_Duplicate", $"Asset with ID='{CurrentObject.ObjectCode}' is already existed.");
        }
    }

    protected override async Task<bool> SaveAndCommitProcessing()
    {
        DateTime timestamp = DateTime.Now;

        if (CurrentObject!.Id == 0)
        {
            CurrentObject!.CreatedUser = AuditTrailUser;
            CurrentObject!.CreatedDateTime = timestamp;
        }

        CurrentObject!.ModifiedUser = AuditTrailUser;
        CurrentObject!.ModifiedDateTime = timestamp;

        int objId = await Uow.ITAssets.InsertOrUpdateFullAsync(CurrentObject!);
        return objId > 0;
    }
    #endregion

    #region INTERNAL FUNCTION
    #endregion
}