@page "/itasset/software/main"
@using DataLayer.AuxComponents.Extensions
@using PruIT_CMDB_ITSM.Client.Pages

@* @rendermode InteractiveAuto *@

@inject SweetAlertService Swal
@inherits MainPageBase<ITAsset>

<MudPaper Class="px-4 py-3 rounded" Width="100%" Elevation="0" Square="true" Style="background-color:#FFFDE7; border: solid 1px var(--pru-gray-tw-100)">
	<MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
		<div style="color:var(--pru-red-default); font-size:28px;">
			<span style="font-weight:800">@HeaderTitle</span>
			<span style="font-weight:400"> | Software</span>
		</div>
		<MudButton Variant="Variant.Filled" StartIcon="material-symbols-rounded/add_circle" Size="Size.Small" Color="Color.Primary" Class="pru-btn-base" DropShadow="false" OnClick="@(args => CreateOrEditRecord(0))">Add New</MudButton>
	</MudStack>
</MudPaper>

<MudPaper Class="pa-3 mt-3 rounded overflow-y-auto" Width="100%" Elevation="0" Square="true" Height="calc(100vh - 170px)">
	<MudStack Row="true" AlignItems="AlignItems.Start" Justify="Justify.FlexStart" StretchItems="StretchItems.None">
		<MudTextField Clearable="true" ShrinkLabel="true" Immediate="true" Variant="Variant.Text" Class="pru-mud-form-field bordered"
					  AdornmentIcon="material-symbols-rounded/search" Adornment="Adornment.Start" AdornmentColor="Color.Primary"
					  Placeholder="Search text here..." HelperText="<Search input instruction here>" Style="padding: 2px 0px 2px 0px"
					  @bind-Value="SearchText" OnKeyDown="OnSearchBoxKeyDown" @ref=UITextBoxSearch Disabled=IsSearching />
		<MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary" DropShadow="false"
				   StartIcon="material-symbols-rounded/search" Class="pru-btn-base" OnClick="OnSearchClicked">Search</MudButton>
	</MudStack>
	<MudDataGrid Class="mt-2 pru-mud-datagrid main-pg" @ref="MainDataGrid" T="ITAsset" ServerData="ServerDataFunc" Dense="true" Hover="true" FixedHeader="true" Striped="true" Loading=@IsSearching RowsPerPage=@PageSize
				 ColumnResizeMode="ResizeMode.Container" HorizontalScrollbar="true" Height="calc(100vh - 285px)" Elevation="0" SortMode="SortMode.Multiple" @bind-SelectedItem=SelectedObject SelectOnRowClick="true"
				 RowClassFunc="SelectedRowClassFunc" RowClass="mud-datagrid-row" Virtualize="true">
		<Columns>
			@* <PropertyColumn Property="x => x.ObjectName" Title="Asset Name" StickyLeft="true" HeaderClass="pru-mud-datagrid-hdr main-pg" CellClass="pru-mud-datagrid-cell" /> *@
			<TemplateColumn Title="Asset Name" HeaderClass="pru-mud-datagrid-hdr main-pg" CellClass="pru-mud-datagrid-cell" Context="rowData">
				<CellTemplate>
					@if (rowData.Item.LifeCycleStatus.Is(AssetLifeCycleStatuses.TERMINATED, AssetLifeCycleStatuses.WRITTEN_OFF))
					{
						<span style="text-decoration:line-through; font-style:italic; color:var(--vic-gray-300);">@rowData.Item.ObjectName</span>
					}
					else
					{
						<span>@rowData.Item.ObjectName</span>
					}
				</CellTemplate>
			</TemplateColumn>
			@* <PropertyColumn Property="x => x.ObjectCode" Title="Asset ID" HeaderClass="pru-mud-datagrid-hdr main-pg" CellClass="pru-mud-datagrid-cell" /> *@
			<TemplateColumn Title="Asset ID" HeaderClass="pru-mud-datagrid-hdr main-pg" CellClass="pru-mud-datagrid-cell reddit-mono-400" Context="rowData">
				<CellTemplate>
					@if (rowData.Item.LifeCycleStatus.Is(AssetLifeCycleStatuses.TERMINATED, AssetLifeCycleStatuses.WRITTEN_OFF))
					{
						<span style="text-decoration:line-through; font-style:italic; color:var(--vic-gray-300);">@rowData.Item.ObjectCode</span>
					}
					else if (rowData.Item.LifeCycleStatus.Is(AssetLifeCycleStatuses.PENDING_TERMINATION, AssetLifeCycleStatuses.PENDING_WRITE_OFF))
					{
						<MudStack Row="true" AlignItems="AlignItems.Center" Spacing="1">
							<MudIcon Icon="@Icons.Material.Rounded.WarningAmber" Style="color:var(--vic-orange-500);" />
							<span style="font-style:italic; color:var(--vic-orange-500);">@rowData.Item.ObjectCode</span>
						</MudStack>
					}
					else
					{
						<span>@rowData.Item.ObjectCode</span>
					}
				</CellTemplate>
			</TemplateColumn>
			<PropertyColumn Property="x => x.ProductName" Title="Product/Plan Name" HeaderClass="pru-mud-datagrid-hdr main-pg" CellClass="pru-mud-datagrid-cell" />
			<PropertyColumn Property="x => x.Manufacturer" Title="Provider Company" HeaderClass="pru-mud-datagrid-hdr main-pg" CellClass="pru-mud-datagrid-cell" />
			<PropertyColumn Property="x => x.SerialNo" Title="Serial No." HeaderClass="pru-mud-datagrid-hdr main-pg" CellClass="pru-mud-datagrid-cell reddit-mono-400" />
			<PropertyColumn Property="x => x.CategoryName" Title="Category" HeaderClass="pru-mud-datagrid-hdr main-pg" CellClass="pru-mud-datagrid-cell" />
			<PropertyColumn Property="x => x.SubCategory" Title="Sub-Category" HeaderClass="pru-mud-datagrid-hdr main-pg" CellClass="pru-mud-datagrid-cell" />
			<PropertyColumn Property="x => x.CurrentUserName" Title="Current User" HeaderClass="pru-mud-datagrid-hdr main-pg" CellClass="pru-mud-datagrid-cell" />
			<PropertyColumn Property="x => x.CurrentUserID" Title="Staff ID" HeaderClass="pru-mud-datagrid-hdr main-pg" CellClass="pru-mud-datagrid-cell reddit-mono-400" Sortable="false" />
			<PropertyColumn Property="x => x.CurrentUserFunc" Title="Function" HeaderClass="pru-mud-datagrid-hdr main-pg" CellClass="pru-mud-datagrid-cell" />
			<PropertyColumn Property="x => x.CurrentUserDept" Title="Department" HeaderClass="pru-mud-datagrid-hdr main-pg" CellClass="pru-mud-datagrid-cell" />
			@* <PropertyColumn Property="x => x.AssetState" Title="Asset State" HeaderClass="pru-mud-datagrid-hdr main-pg" /> *@
			<TemplateColumn Title="Asset State" HeaderClass="pru-mud-datagrid-hdr main-pg" CellStyle="text-align:center" CellClass="pru-mud-datagrid-cell">
				<CellTemplate>
					<MudChip Size="Size.Small" Class="@(!string.IsNullOrEmpty(context.Item.AssetState) ? _stateCssClassList[context.Item.AssetState!] : "status-chip-default-light")" Style="padding:2px 8px; font-size:9pt">
						@context.Item.AssetStateText
					</MudChip>
				</CellTemplate>
			</TemplateColumn>
			<TemplateColumn Title="Status" HeaderClass="pru-mud-datagrid-hdr main-pg" CellStyle="text-align:center" CellClass="pru-mud-datagrid-cell">
				<CellTemplate>
					<MudChip Size="Size.Small" Class="@(!string.IsNullOrEmpty(context.Item.LifeCycleStatus) ? _statusCssClassList[context.Item.LifeCycleStatus!] : "status-chip-default-light")" Style="padding:2px 8px; font-size:9pt">
						@context.Item.LifeCycleStatusText
					</MudChip>
				</CellTemplate>
			</TemplateColumn>
            <TemplateColumn Title="Action" HeaderClass="pru-mud-datagrid-hdr main-pg" Sortable="false" Filterable="false" StickyRight="true"
                            CellClass="pru-mud-datagrid-cell" CellStyle="padding-inline-end:4px; padding-inline-start:4px">
                <CellTemplate>
                    <MudStack Row="true" Spacing="1">
                        <MudIconButton Icon="@Icons.Material.Rounded.Edit" Size="Size.Small" Color="Color.Primary" OnClick="@(args => CreateOrEditRecord(context.Item.Id))" />
                        <MudIconButton Icon="@Icons.Material.Rounded.FileCopy" Size="Size.Small" Color="Color.Success" OnClick="@(args => CloneAndEditRecord(context.Item.Id))" />
                        <MudIconButton Icon="@Icons.Material.Rounded.Visibility" Size="Size.Small" Color="Color.Info" OnClick="@(args => ViewFullRecord(context.Item.Id))" />
                        <MudIconButton Icon="@Icons.Material.Rounded.Delete" Size="Size.Small" Color="Color.Default" OnClick="@(args => DeleteRecord(context.Item))" />
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
		</Columns>
		<PagerContent>
			<MudDataGridPager T="ITAsset" Class="pru-mud-datagrid-pager" PageSizeOptions="new[] { 10, 30, 50, 80, 100 }" />
		</PagerContent>
	</MudDataGrid>
</MudPaper>

@code {

	#region UI Param
	Dictionary<string, string> _statusCssClassList = new()
		{
			{ "", "" },
			{ AssetLifeCycleStatuses.IN_STOCK, "status-chip-success-light" },
			{ AssetLifeCycleStatuses.IN_USE, "status-chip-success-light" },
			{ AssetLifeCycleStatuses.TERMINATED, "status-chip-obsolete-light" },
			{ AssetLifeCycleStatuses.WRITTEN_OFF, "status-chip-obsolete-light" },
			{ AssetLifeCycleStatuses.PENDING_REVIEW, "status-chip-pending-light" },
			{ AssetLifeCycleStatuses.PENDING_WRITE_OFF, "status-chip-pending-light" },
			{ AssetLifeCycleStatuses.PENDING_TERMINATION, "status-chip-pending-light" },
		};

	Dictionary<string, string> _stateCssClassList = new()
	{
		{ "", "" },
		{ AssetStates.USED_GOOD, "status-chip-success-light" },
		{ AssetStates.USED_POOR, "status-chip-success-light" },
		{ AssetStates.USED_ESR, "status-chip-pending-light" },
		{ AssetStates.BRAND_NEW, "status-chip-success-light" },
		{ AssetStates.BROKEN_UNREPAIRABLE, "status-chip-pending-light" },
		{ AssetStates.NA, "status-chip-obsolete-light" },
		{ AssetStates.OFFBOARDED, "status-chip-obsolete-light" }
	};
	#endregion

	#region PAGE LIFECYCLE EVENTS
	public override Task SetParametersAsync(ParameterView parameters)
	{
		UrlPrefix = "/itasset/software";
		SearchParamName = "itAssetSwParam";

		return base.SetParametersAsync(parameters);
	}

	protected override async Task OnInitializedAsync()
	{
		if (LoggedInUser != null)
		{
			CurrentAppModPerm.UserId = LoggedInUser.UserId;
			CurrentAppModPerm.CanCreate = true;
			CurrentAppModPerm.CanRead = true;
			CurrentAppModPerm.CanUpdate = true;
			CurrentAppModPerm.CanDelete = true;
			CurrentAppModPerm.ModuleName = typeof(ITAsset).Name;
		}
		else
		{
			CurrentAppModPerm.CanCreate = true;
			CurrentAppModPerm.CanRead = true;
			CurrentAppModPerm.CanUpdate = true;
			CurrentAppModPerm.CanDelete = true;
		}

		//=== SHORTCUT KEYS INITIALIZATION ================================================
		// CurrentHotKeyContext = ToolBeltHotKeys.CreateContext()
		// 	.Add(ModCode.Alt, Code.N, CreateRecord, new() { Exclude = Exclude.None })
		// 	.Add(ModCode.Ctrl, Code.S, SearchHotKeyPressed, new() { Exclude = Exclude.None })
		// 	.Add(ModCode.Alt, Code.V, QuickViewHotKeyPressed, new() { Exclude = Exclude.None })
		// 	.Add(ModCode.Ctrl, Code.E, EditRecordHotKeyPressed, new() { Exclude = Exclude.None })
		// 	.Add(ModCode.Ctrl, Code.A, OnAdvSearchPanelHotKeyPressed, new() { Exclude = Exclude.None })
		// 	.Add(ModCode.Ctrl, Code.R, ClearAdvancedSearchFilterHotKeyPressed, new() { Exclude = Exclude.None });

		//=== LOAD SAVED SEARCH PARAMETERS ================================================
		PopuplateSearchFilters();
		await Task.CompletedTask;
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await UITextBoxSearch!.FocusAsync();
		}
		await LoadSavedSearchFilters();
	}
	#endregion

	protected override async Task<GridData<ITAsset>> ServerDataFunc(GridState<ITAsset> gridState)
	{
		if (IsSearching) return new GridData<ITAsset>
			{
				Items = [],
				TotalItems = 0
			};

		try
		{
			IsSearching = true;
			int totalItemCount = 0;
			//if (gridState.SortDefinitions.Count > 0)
			//{
			//	var firstSort = gridState.SortDefinitions.First();
			//	result = firstSort.Descending
			//		? result.OrderByDescending(firstSort.SortFunc).ToList()
			//		: result.OrderBy(firstSort.SortFunc).ToList();
			//}

			if (gridState.FilterDefinitions.Any())
			{
				//var filterFunctions = gridState.FilterDefinitions.Select(x => x.GenerateFilterFunction());
				//result = result
				//	.Where(x => filterFunctions.All(f => f(x)))
				//	.ToList();
			}
			else
			{
				// KeyValuePair<int, IEnumerable<ITAsset>> result = await Uow.ITAssets.HardwareSearchAsync(0, 0, SearchText, null, null, null);
				KeyValuePair<int, IEnumerable<ITAsset>> result = await Uow.ITAssets.SoftwareSearchAsync(PageSize, MainDataGrid.CurrentPage + 1, SearchText, null, null, null);
				MainDataList = result.Value;
				totalItemCount = result.Key;
			}

			//var totalNumberOfFilteredItems = result.Count;

			//result = result
			//	.Skip(gridState.StartIndex)
			//	.Take(gridState.Count)
			//	.ToList();

			return new GridData<ITAsset>
				{
					Items = MainDataList,
					TotalItems = totalItemCount
				};
		}
		catch (Exception ex)
		{
			await JsRuntime.InvokeVoidAsync("console.error", ex.GetFullMessage());

			return new GridData<ITAsset>
				{
					Items = [],
					TotalItems = 0
				};
		}
		finally
		{
			IsSearching = false;
		}
	}

	#region UI FUNCTIONS
	protected async ValueTask QuickViewHotKeyPressed()
	{
		await Task.CompletedTask;
	}
	#endregion

	#region CRUD FUNCTIONS
	private async Task DeleteRecord(ITAsset objToDelete)
	{
		if (objToDelete == null)
		{
			await Swal.FireAsync(new SweetAlertOptions
				{
					Title = "Object not selected",
					Text = "No object selected to be deleted. Please try again",
					Icon = SweetAlertIcon.Warning,
					ShowConfirmButton = false,
					Timer = 1500
				});
		}
		else
		{
			SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
				{
					Title = "Delete Confiramtion",
					Text = $"Are you sure you want to delete the following '{objToDelete.ObjectName} ({objToDelete.ObjectCode})' record? ",

					ShowCancelButton = true,
					ShowConfirmButton = true,
					ConfirmButtonText = "Yes, Confirmed",
					CancelButtonText = "Cancel"
				});

			if (!string.IsNullOrEmpty(result.Value))
			{
				try
				{
					int delCount = await Uow.ITAssets.DeleteAsync(objToDelete.Id, AuditTrailUser);

					if (delCount > 0)
					{
						await MainDataGrid!.ReloadServerData();
						StateHasChanged();
						await Swal.FireAsync(new SweetAlertOptions
							{
								Title = "Success",
								Text = "Record successfully deleted",
								Icon = SweetAlertIcon.Success,
								ShowConfirmButton = false,
								Timer = 1500
							});
					}
					else
					{
						await Swal.FireAsync(new SweetAlertOptions
							{
								Title = "Failure",
								Text = "Application failed to form deletion of the record. The record may have been no longer available in system database.",
								Icon = SweetAlertIcon.Warning,
								ShowConfirmButton = true,
								ConfirmButtonText = "OK"
							});
					}
				}
				catch
				{
					await Swal.FireAsync(new SweetAlertOptions
						{
							Title = "Error",
							Text = "Application encountered error while trying to process the operation. Please try again. If the problem still persists, please contact your technical support.",
							Icon = SweetAlertIcon.Error,
							ShowConfirmButton = true,
							ConfirmButtonText = "OK"
						});
				}
			}
		}
	}
	#endregion

	#region INTERNAL FUNCTIONS
	async ValueTask CreateRecord() => await CreateOrEditRecord(0);

	public async ValueTask EditRecordHotKeyPressed()
	{
		await Task.CompletedTask;
	}

	private void PopuplateSearchFilters()
	{

	}
	#endregion
}
