@page "/fin/Invoice/cruc/{CRUCMode}"
@page "/fin/Invoice/cruc/{CRUCMode}/{id:int}"
@using System.Globalization
@using DataLayer.AuxComponents.Extensions
@using Force.DeepCloner

@* @rendermode InteractiveAuto*@
@inject IDialogService MudDiagSvc
@inherits CRUCPageBase<Invoice>

@if (CurrentObject != null && CurrentEditContext != null)
{
    <EditForm EditContext="CurrentEditContext" OnValidSubmit="SaveDummy" OnInvalidSubmit="SaveDummy">
        <DataAnnotationsValidator />
        <MudPaper Class="px-4 py-3 rounded" Width="100%" Elevation="0" Square="true" Style="background-color:var(--pru-cyan-tw-50); border: solid 1px var(--pru-cyan-tw-400)">
            <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                <div style="color:var(--pru-cyan-default); font-size:28px;">
                    <span style="font-weight:800">@HeaderTitle</span>
                    @if (CRUCMode == CRUDCModes.READ)
                    {
                        <MudChip Size="Size.Small" Color="Color.Success" Class=@($"status-chip-tiny") T="string" Style="margin-top:-5px">View</MudChip>
                    }
                    else if (CRUCMode == CRUDCModes.UPDATE)
                    {
                        <MudChip Size="Size.Small" Color="Color.Info" Class=@($"status-chip-tiny") T="string">Update</MudChip>
                    }
                    else if (CRUCMode == CRUDCModes.CREATE)
                    {
                        <MudChip Size="Size.Small" Color="Color.Info" Class=@($"status-chip-tiny") T="string">New</MudChip>
                    }
                    else if (CRUCMode == CRUDCModes.CLONE)
                    {
                        <MudChip Size="Size.Small" Color="Color.Info" Class=@($"status-chip-tiny") T="string">New (Clone)</MudChip>
                    }
                </div>
                <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd">
                    @if (!IsViewMode)
                    {
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Color="Color.Primary" StartIcon="material-symbols-rounded/save_as" Class="pru-btn-base"
                                   OnClick="@(() => Save())">Save</MudButton>
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Color="Color.Primary" StartIcon="material-symbols-rounded/save" Class="pru-btn-base"
                                   OnClick="@(() => Save(true))">Save & Close</MudButton>
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Color="Color.Secondary" StartIcon="material-symbols-rounded/cancel" Class="pru-btn-base"
                                   OnClick="Cancel">Cancel</MudButton>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Color="Color.Default" StartIcon="material-symbols-rounded/close" OnClick="Cancel">Close</MudButton>
                    }
                </MudStack>
            </MudStack>
        </MudPaper>
        <MudTabs Class="pru-mud-tab cruc-pg mt-3" Elevation="0">
            <MudTabPanel Text="Main" Icon="material-symbols-rounded/home" Class="pru-mud-tab-panel" Style="min-width:120px">
                <MudPaper Class="px-4 pt-2 pb-5 overflow-y-auto" Height="calc(100vh - 230px)" Width="100%" Elevation="0" >
                    <MudGrid Spacing="2" Justify="Justify.SpaceEvenly">
                        <MudItem xs="1">
                            <MudSelect ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Required="true"
                                       Label="LBU" T="string"
                                       Value=CurrentObject!.LBU For="@(() => CurrentObject.LBU)" ValueChanged="OnLBUChanged" OnlyValidateIfDirty="true">
                                @foreach (string lbuID in _lbuIDList)
                                {
                                    <MudSelectItem Value=@lbuID>@lbuID</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="2">
                            <MudDatePicker ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Editable="true" Class="pru-mud-form-field bordered pru-ui-datepicker" Required="true"
                                           AdornmentIcon="material-symbols-rounded/calendar_month" AdornmentColor=@Color.Primary
                                           Label="Date" DateFormat="dd-MMM-yyyy"
                                           @bind-Date=@CurrentObject.EffectiveDate For="@(() => CurrentObject.EffectiveDate)" />
                        </MudItem>
                        <MudItem xs="2">
                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Required="true"
                                          Label="Ref #" MaxLength="80"
                                          @bind-Value=CurrentObject!.ObjectCode For="@(() => CurrentObject.ObjectCode)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="7">
                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Required="true"
                                          AdornmentIcon="material-symbols-rounded/calendar_month" AdornmentColor=@Color.Primary
                                          Label="One-liner Summary" MaxLength="255"
                                          @bind-Value=CurrentObject!.ObjectName For="@(() => CurrentObject.ObjectName)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="2">
                            <MudDatePicker ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Editable="true" Class="pru-mud-form-field bordered pru-ui-datepicker"
                                           AdornmentIcon="material-symbols-rounded/calendar_month" AdornmentColor=@Color.Primary
                                           Label="Expiry Date" DateFormat="dd-MMM-yyyy"
                                           @bind-Date=@CurrentObject.ExpiryDate For="@(() => CurrentObject.ExpiryDate)" />
                        </MudItem>
                        <MudItem xs="4">
                            <MudComboBox ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-combo-box" Editable="true" Variant="Variant.Text" SearchBox="true" Strict="true" autocomplete="new-password"
                                         Label="Vendor/Supplier" T="string"
                                         @bind-Value="@CurrentObject.VendorID" For="@(() => CurrentObject.VendorID)"
                                         ToStringFunc="@(e => string.IsNullOrEmpty(e) ? "" : _vendorList.Single<DropdownSelectItem>(x => x.Key == e)?.Value)">
                                <ChildContent>
                                    @foreach (var vendor in _vendorList)
                                    {
                                        <MudComboBoxItem T="string" Value="@vendor.Key" Text="@vendor.Value">@vendor.Value</MudComboBoxItem>
                                    }
                                </ChildContent>
                            </MudComboBox>
                            @* <MudSelect Label="Supplier/Vendor" @bind-Value=CurrentObject!.VendorID Clearable="true" ReadOnly="@IsViewMode" Dense="true" Required="true"
                            For="@(() => CurrentObject.VendorID)" OnlyValidateIfDirty="true">
                                @foreach (DropdownSelectItem vendor in _vendorList)
                                {
                                    <MudSelectItem Value=@vendor.Key>@vendor.Value</MudSelectItem>
                                }
                            </MudSelect> *@
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered"
                                          Label="Customer No." MaxLength="80"
                                          @bind-Value=CurrentObject!.CustomerRef For="@(() => CurrentObject.CustomerRef)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="2">
                            <MudSelect ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-select" FullWidth="true" Required="true"
                                       Label="Status"
                                       @bind-Value=CurrentObject!.WorkflowStatus For="@(() => CurrentObject.WorkflowStatus)" OnlyValidateIfDirty="true">
                                @foreach (DropdownSelectItem wfs in _wfsList)
                                {
                                    <MudSelectItem Value=@wfs.Key>@wfs.Value</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="1">

                        </MudItem>
                        <MudItem xs="2">
                            <MudSelect ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-select" FullWidth="true" Required="true"
                                       Label="Currency"
                                       @bind-Value=CurrentObject!.CurrencyCode For="@(() => CurrentObject.CurrencyCode)" OnlyValidateIfDirty="true">
                                @foreach (DropdownSelectItem curr in _currList)
                                {
                                    <MudSelectItem Value=@curr.Key>@curr.Key</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="2">
                            <MudNumericField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Culture="@CultureInfo.GetCultureInfo("en-US")" HideSpinButtons="true"
                                             AdornmentIcon="material-symbols-rounded/attach_money" Adornment="Adornment.Start" AdornmentColor=@Color.Primary
                                             Label="Total Amount" Step=".1M" Format="#,##0.00" Min="0"
                                             @bind-Value=CurrentObject!.TotalAmount For="@(() => CurrentObject.TotalAmount)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="2">
                            <MudNumericField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Culture="@CultureInfo.GetCultureInfo("en-US")" HideSpinButtons="true"
                                             AdornmentIcon="material-symbols-rounded/attach_money" Adornment="Adornment.Start" AdornmentColor=@Color.Primary
                                             Label="Tax Amount" Step=".1M" Format="#,##0.00" Min="0"
                                             @bind-Value=CurrentObject!.TotalTaxAmount For="@(() => CurrentObject.TotalTaxAmount)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="2">
                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered"
                                          Label="Accounting System Ref #"
                                          @bind-Value=CurrentObject!.AccSysSubmID For="@(() => CurrentObject.AccSysSubmID)" OnlyValidateIfDirty="true"
                                          MaxLength="80" />
                        </MudItem>
                        <MudItem xs="4">
                            <MudText Typo="Typo.body1" Class="reddit-mono-400">@(CurrentObject.FileNameDisplay)</MudText>
                        </MudItem>
                        <MudItem xs="12">
                            <MudStack Spacing="2" Justify=Justify.FlexStart Class="mt-3">
                                @if (!IsViewMode)
                                {
                                    <MudStack Row=true Spacing="2" Justify="Justify.FlexStart" AlignItems="AlignItems.Start">
                                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Class="pru-btn-base in-pg-action" Color="Color.Info"
                                                   StartIcon="material-symbols-rounded/add"
                                                   Disabled=@(_tempItemToAdd != null) OnClick="AddInvoiceItem">
                                            Add Item
                                        </MudButton>
                                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Class="pru-btn-base in-pg-action" Color="Color.Warning"
                                                   StartIcon="material-symbols-rounded/update"
                                                   Disabled=@(_tempItemToAdd != null) OnClick="UpdateExpensePeriod">
                                            Apply Period
                                        </MudButton>
                                        <MudNumericField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" HideSpinButtons="true" Culture="@CultureInfo.GetCultureInfo("en-US")"
                                                         AdornmentIcon="material-symbols-rounded/calendar_month" AdornmentColor=@Color.Primary Adornment="Adornment.Start"
                                                         Label="Expense Month" T="int?"
                                                         @bind-Value=@_expMth OnlyValidateIfDirty="true"
                                                         Step="1" Min="1" Max="12" />
                                        <MudNumericField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" HideSpinButtons="true" Culture="@CultureInfo.GetCultureInfo("en-US")"
                                                         AdornmentIcon="material-symbols-rounded/calendar_month" AdornmentColor=@Color.Primary Adornment="Adornment.Start"
                                                         Label="Expense Year"
                                                         T="int?" @bind-Value=@_expYr OnlyValidateIfDirty="true"
                                                         Step="1" Min="1900" Max="9999" />
                                    </MudStack>

                                }
                                <MudDataGrid Class="pru-mud-datagrid" Dense="true" Hover="true" FixedHeader="true" Striped="true" ReadOnly=@IsViewMode Elevation="0"
                                             ColumnResizeMode="ResizeMode.Container" HorizontalScrollbar="true"
                                             EditTrigger="DataGridEditTrigger.Manual" EditMode="DataGridEditMode.Form" EditDialogOptions=@(new (){ BackdropClick=false, MaxWidth=MaxWidth.Medium, FullWidth=true })
                                             StartedEditingItem="@StartedEditingItem" CanceledEditingItem="@CanceledEditingItem" CommittedItemChanges="@CommittedItemChanges" Style="width:100%"
                                             @ref="_qItemDataGrid" T="InvoiceItem" Items="@CurrentObject!.Items">
                                    <Columns>
                                        <PropertyColumn Title="No." Property="x => x.OrderNo" Sortable="false" Editable="false"
                                                        HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell" CellStyle="text-align:right" 
                                                        Context="qi">
                                            <EditTemplate>
                                                <MudStack Row="true" Spacing="1" AlignItems="AlignItems.Center" Justify="Justify.FlexStart">
                                                    <MudText Typo="Typo.body1">Order # </MudText>
                                                    <MudText Typo="Typo.body1" Style="font-weight:800">@qi.Item.OrderNo</MudText>
                                                </MudStack>
                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Title="Item" Property="x => x.ObjectName" Sortable="false"
                                            HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell"
                                                        HeaderStyle="min-width:250px" Context="qi">
                                            <EditTemplate>
                                                <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Required="true"
                                                              Label="Name"
                                                              @bind-Value=qi.Item.ObjectName For="@(() => qi.Item.ObjectName)" OnlyValidateIfDirty="true"
                                                              MaxLength="255" />
                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Title="PO#" Property="x => x.PurchaseOrderCode" Sortable="false"
                                            HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell reddit-mono-400" 
                                            HeaderStyle="min-width:120px" Context="qi">
                                            <EditTemplate>
                                                <MudStack Row=true Spacing="3" AlignItems="AlignItems.Start" Justify="Justify.FlexStart" StretchItems="StretchItems.All">
                                                    <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered"
                                                                  Label="PO#" MaxLength="50"
                                                                  @bind-Value=qi.Item.PurchaseOrderCode For="@(() => qi.Item.PurchaseOrderCode)" OnlyValidateIfDirty="true" />
                                                    <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered"
                                                                  Label="SKU"
                                                                  @bind-Value=qi.Item.SKU For="@(() => qi.Item.SKU)" OnlyValidateIfDirty="true"
                                                                  MaxLength="255" />
                                                </MudStack>
                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Title="SKU" Property="x => x.SKU" Sortable="false"
                                                        HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell reddit-mono-400"
                                                        Context="qi">
                                            <EditTemplate>

                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Title="Unit Price" Property="x => x.UnitPrice" Format="@(CurrentObject!.CurrencyCode == PruGC.Currencies.USD ? "#,##0.00" : "#,##0")"
                                                        HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell reddit-mono-500"
                                                        HeaderStyle="min-width:100px" CellStyle="text-align:right"
                                                        Filterable="false" Sortable="false" Context="qi">
                                            <EditTemplate>
                                                <MudStack Row=true Spacing="3" AlignItems="AlignItems.Start" Justify="Justify.FlexStart" StretchItems="StretchItems.All">
                                                    <MudNumericField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" HideSpinButtons="true" Culture="@CultureInfo.GetCultureInfo("en-US")" Required="true"
                                                                     Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Rounded.AttachMoney" AdornmentColor=@Color.Primary
                                                                     Label="Unit Price" Format="#,##0.##" Min="0" Step=".1M"
                                                                     @bind-Value=qi.Item.UnitPrice For="@(() => qi.Item.UnitPrice)" OnlyValidateIfDirty="true" />
                                                    <MudNumericField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" HideSpinButtons="true" Culture="@CultureInfo.GetCultureInfo("en-US")" Required="true"
                                                                     Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Rounded.Numbers"
                                                                     Label="Quantity" Format="#,##0.##" Min="0" Step=".1M"
                                                                     @bind-Value=qi.Item.Quantity For="@(() => qi.Item.Quantity)" OnlyValidateIfDirty="true" />
                                                    <MudNumericField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" HideSpinButtons="true" Culture="@CultureInfo.GetCultureInfo("en-US")" Disabled="true"
                                                                     Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Rounded.AttachMoney" AdornmentColor=@Color.Primary
                                                                     Label="Total Amount" Format="#,##0.##" Min="0" Step=".1M"
                                                                     @bind-Value=qi.Item.TotalAmount For="@(() => qi.Item.TotalAmount)" OnlyValidateIfDirty="true" />
                                                    <MudNumericField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" HideSpinButtons="true" Culture="@CultureInfo.GetCultureInfo("en-US")"
                                                                     Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Rounded.AttachMoney" AdornmentColor=@Color.Primary
                                                                     Label="Tax Amount" Format="#,##0.##"
                                                                     @bind-Value=qi.Item.TaxAmount For="@(() => qi.Item.TaxAmount)" OnlyValidateIfDirty="true"
                                                                     Step=".1M" Min="0" />
                                                </MudStack>
                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Title="Quantity" Property="x => x.Quantity" Format="#,##0.##" Filterable="false" Sortable="false"
                                                        HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell reddit-mono-500"
                                                        CellStyle="text-align:right"
                                                        Context="qi">
                                            <EditTemplate>

                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Title="Start Date" Property="x => x.CoverageStartDate" Sortable="false" Filterable="false" Format="dd-MMM-yyyy"
                                                        HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell"
                                                        HeaderStyle="min-width:100px"
                                                        Context="qi">
                                            <EditTemplate>
                                                <MudStack Row=true Spacing="3" AlignItems="AlignItems.Start" Justify="Justify.FlexStart" StretchItems="StretchItems.All">
                                                    <MudDatePicker ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-datepicker" Editable="true" DateFormat="dd-MMM-yyyy"
                                                                   AdornmentIcon="material-symbols-rounded/calendar_month" AdornmentColor="@Color.Primary"
                                                                   Label="Start Date"
                                                                   @bind-Date=@qi.Item.CoverageStartDate For="@(() => qi.Item.CoverageStartDate)" />
                                                    <MudDatePicker ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-datepicker" Editable="true" DateFormat="dd-MMM-yyyy"
                                                                   AdornmentIcon="material-symbols-rounded/calendar_month" AdornmentColor="@Color.Primary"
                                                                   Label="End Date"
                                                                   @bind-Date=@qi.Item.CoverageEndDate For="@(() => qi.Item.CoverageEndDate)" />
                                                </MudStack>
                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Title="End Date" Property="x => x.CoverageEndDate" Format="dd-MMM-yyyy" Filterable="false" Sortable="false"
                                                        HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell"
                                                        HeaderStyle="min-width:100px"
                                                        Context="qi">
                                            <EditTemplate>

                                            </EditTemplate>
                                            <FooterTemplate>
                                                <MudText Typo="Typo.body2" Style="font-weight:500">Total</MudText>
                                            </FooterTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Title="Total Amount" Property="x => x.TotalAmount" Format="@(CurrentObject!.CurrencyCode == PruGC.Currencies.USD ? "#,##0.00" : "#,##0")"
                                                        HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell reddit-mono-500" Required=false Editable="false"
                                                        HeaderStyle="min-width:110px" CellStyle="text-align:right"
                                                        Filterable="false" Sortable="false" AggregateDefinition="@_itemAggr" FooterStyle="padding-inline-start: 1px; padding-inline-end:8px; text-align:right"
                                                        Context="qi">
                                            <EditTemplate>

                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Title="Tax Amount" Property="x => x.TaxAmount" Format="@(CurrentObject!.CurrencyCode == PruGC.Currencies.USD ? "#,##0.00" : "#,##0")"
                                                        HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell reddit-mono-500"
                                                        HeaderStyle="min-width:110px" CellStyle="text-align:right"
                                                        Filterable="false" Sortable="false" AggregateDefinition="@_itemAggr" FooterStyle="padding-inline-start: 1px; padding-inline-end:8px; text-align:right"
                                                        Context="qi">
                                            <EditTemplate>

                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Title="Remark" Property="x => x.Remark"
                                                        HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell" Filterable="false" Sortable="false"
                                                        Context="qi">
                                            <EditTemplate>
                                                <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Lines=4
                                                              Label="Remark"
                                                              @bind-Value=qi.Item.Remark For="@(() => qi.Item.Remark)" OnlyValidateIfDirty="true"
                                                              MaxLines="25" MaxLength="1000" />
                                            </EditTemplate>
                                        </PropertyColumn>
                                        <TemplateColumn Hidden=@IsViewMode Title="Action"
                                                        HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell d-flex justify-end"
                                                        HeaderStyle="width:20px" Context="qi">
                                            <CellTemplate>
                                                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@qi.Actions.StartEditingItemAsync" />
                                                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" Color="Color.Error" OnClick="@(() => RemoveInvoiceItem(qi.Item))" />
                                                <MudIconButton Size="Size.Small" Icon="@Icons.Material.Rounded.FileCopy" Color="Color.Success" OnClick="@(() => CloneInvoiceItem(qi.Item))" />
                                            </CellTemplate>
                                        </TemplateColumn>
                                    </Columns>
                                </MudDataGrid>
                            </MudStack>
                        </MudItem>
                        <MudItem xs="12">
                            <MudStack Spacing="2" Justify=Justify.FlexStart Class="mt-3">
                                @if (!IsViewMode)
                                {
                                    <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Class="pru-btn-base in-pg-action" Color="Color.Info"
                                               StartIcon="material-symbols-rounded/add"
                                               Disabled=@(_tempItemToAdd != null) OnClick="AddExpenseItem">
                                        Add Exp Item
                                    </MudButton>
                                }
                                <MudDataGrid Class="pru-mud-datagrid" Dense="true" Hover="true" FixedHeader="true" Striped="true" ReadOnly=@IsViewMode Elevation="0"
                                             ColumnResizeMode="ResizeMode.Container" HorizontalScrollbar="true"
                                             EditTrigger="DataGridEditTrigger.Manual" EditMode="DataGridEditMode.Form" EditDialogOptions=@(new (){ BackdropClick=false, MaxWidth=MaxWidth.Medium, FullWidth=true })
                                             StartedEditingItem="@StartedEditingExpItem" CanceledEditingItem="@CanceledEditingExpItem" CommittedItemChanges="@CommittedExpItemChanges" Style="width:100%"
                                             @ref="_expItemDataGrid" T="ExpenseItem" Items="@CurrentObject!.ExpenseItems">
                                    <Columns>
                                        <PropertyColumn Property="x => x.OrderNo" Title="No." Editable="false" Sortable="false" 
                                            HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell" 
                                            CellStyle="text-align:right" Context="qi">
                                            <EditTemplate>
                                                <MudStack Row="true" Spacing="1" AlignItems="AlignItems.Center" Justify="Justify.FlexStart">
                                                    <MudText Typo="Typo.body1">Order # </MudText>
                                                    <MudText Typo="Typo.body1" Style="font-weight:800">@qi.Item.OrderNo</MudText>
                                                </MudStack>
                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Title="Item" Property="x => x.ObjectName" Sortable="false"
                                            HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell" Context="qi">
                                            <EditTemplate>
                                                <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Required="true"
                                                              Label="Name"
                                                              @bind-Value=qi.Item.ObjectName For="@(() => qi.Item.ObjectName)" OnlyValidateIfDirty="true"
                                                              MaxLength="255" />
                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Title="IT Asset ID" Property="x => x.ObjectCode" Sortable="false"
                                                        HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell" Context="qi">
                                            <EditTemplate>
                                                <MudStack Row="true" Spacing="3" AlignItems="AlignItems.Center" Justify="Justify.FlexStart">
                                                    <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Required="false"
                                                                  Label="IT Asset ID"
                                                                  @bind-Value=qi.Item.ObjectCode For="@(() => qi.Item.ObjectCode)" OnlyValidateIfDirty="true"
                                                                  MaxLength="255" />
                                                    <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Required="false"
                                                                  Label="Staff ID"
                                                                  @bind-Value=qi.Item.EmpID For="@(() => qi.Item.EmpID)" OnlyValidateIfDirty="true"
                                                                  MaxLength="255" />
                                                </MudStack>
                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Title="Staff ID" Property="x => x.EmpID" Sortable="false"
                                                        HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell" Context="qi">
                                            <EditTemplate>
                                                
                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Title="Invoice Item" Property="x => x.InvoiceItemId"
                                                        HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell" CellStyle="text-align:right" Sortable="false" Context="expItem" Hidden="true">
                                            <EditTemplate>
                                                <MudSelect ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-select"
                                                           Label="Invoice Item" T="int?"
                                                           @bind-Value=@expItem.Item.InvoiceItemId For="@(() => expItem.Item.InvoiceItemId)" OnlyValidateIfDirty="true">
                                                    @foreach (InvoiceItem ii in CurrentObject!.Items)
                                                    {
                                                        if (ii.Id > 0)
                                                        {
                                                            <MudSelectItem T="int?" Value=@ii.Id>@ii.OrderNo!.Value</MudSelectItem>
                                                        }
                                                    }
                                                </MudSelect>
                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.AccountCode" Title="GL Account #" Sortable="false"
                                                        HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell reddit-mono-400"
                                                        Context="expItem">
                                            <EditTemplate>
                                                <MudStack Row="true" Spacing="3" AlignItems="AlignItems.Center" Justify="Justify.FlexStart">
                                                    <MudComboBox ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-combo-box" Editable="true" FullWidth="true" SearchBox="true" Strict="true" Variant="Variant.Text" autocomplete="new-password" EnableFilter="true" Required="true"
                                                                 Label="GL Acocunt #" T="string" SearchFunc="SeachGlAccountDropdown" SearchBoxClearable="true"
                                                                 Value=@expItem.Item.AccountCode For="@(() => expItem.Item.AccountCode)" ValueChanged=@(args => OnGlAccountSelectionChanged(expItem.Item, args)) OnlyValidateIfDirty="true">
                                                        @foreach (GLAccount gLAccount in _glAccountList)
                                                        {
                                                            <MudComboBoxItem Value="@gLAccount.ObjectCode" Text="@($"{gLAccount.ObjectCode} - {gLAccount.ObjectName}")">@($"{gLAccount.ObjectCode} - {gLAccount.ObjectName}")</MudComboBoxItem>
                                                        }
                                                    </MudComboBox>
                                                    <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered"
                                                                  Label="Account Name"
                                                                  @bind-Value=@expItem.Item.AccountName For="@(() => expItem.Item.AccountName)" OnlyValidateIfDirty="true"
                                                                  MaxLength="255" />
                                                </MudStack>
                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.AccountName" Title="Account Name" Sortable="false"
                                                        HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell"
                                                        Context="expItem">
                                            <EditTemplate>

                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Title="Act Tracker" Property="x => x.ActivityTrackID" Sortable="false"
                                                        HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell reddit-mono-500" Context="expItem"
                                                        FooterStyle="padding-inline-start: 1px; padding-inline-end:8px; text-align:right">
                                            <EditTemplate>
                                                <MudComboBox ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-combo-box" Editable="true" FullWidth="true" SearchBox="true" Strict="true" Variant="Variant.Text" autocomplete="new-password" EnableFilter="true" Required="true"
                                                             Label="Act. Tracker #" SearchFunc="SeachGlAccountDropdown" SearchBoxClearable="true"
                                                             @bind-Value=@expItem.Item.ActivityTrackID For="@(() => expItem.Item.ActivityTrackID)" OnlyValidateIfDirty="true">
                                                    @foreach (FinActivityTracker actTracker in _finActTrackerList)
                                                    {
                                                        <MudComboBoxItem Value="@actTracker.ObjectCode" Text="@($"{actTracker.ObjectCode} - {actTracker.ObjectName}")">@($"{actTracker.ObjectCode} - {actTracker.ObjectName}")</MudComboBoxItem>
                                                    }
                                                </MudComboBox>
                                            </EditTemplate>
                                            <FooterTemplate>
                                                <MudText Typo="Typo.body2" Style="font-weight:500">Total</MudText>
                                            </FooterTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.TotalAmount" Title="Amount (incl. Tax)" Format="@(CurrentObject!.CurrencyCode == PruGC.Currencies.USD ? "#,##0.00" : "#,##0")" Filterable="false" Sortable="false"
                                                        HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell reddit-mono-500" CellStyle="text-align:right"
                                                        Context="qi"
                                                        AggregateDefinition="_expAggr" FooterStyle="padding-inline-start: 1px; padding-inline-end:8px; text-align:right">
                                            <EditTemplate>
                                                <MudStack Row=true Spacing="2">
                                                    <MudNumericField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" HideSpinButtons="true" Culture="@CultureInfo.GetCultureInfo("en-US")" Required="true"
                                                                     Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Rounded.AttachMoney" AdornmentColor=@Color.Primary
                                                                     Label="Amount" Format="#,##0.##"
                                                                     @bind-Value=qi.Item.Amount For="@(() => qi.Item.Amount)" OnlyValidateIfDirty="true"
                                                                     Step=".1M" Min="0" />

                                                    <MudNumericField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" HideSpinButtons="true" Culture="@CultureInfo.GetCultureInfo("en-US")" 
                                                                     Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Rounded.AttachMoney" AdornmentColor=@Color.Primary
                                                                     Label="Tax Amount" Format="#,##0.##"
                                                                     @bind-Value=qi.Item.TaxAmount For="@(() => qi.Item.TaxAmount)" OnlyValidateIfDirty="true"
                                                                     Step=".1M" Min="0" />
                                                </MudStack>
                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.Amount" Title="Amount" Format="@(CurrentObject!.CurrencyCode == PruGC.Currencies.USD ? "#,##0.00" : "#,##0")"
                                                        HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell reddit-mono-500" CellStyle="text-align:right"
                                                        Filterable="false" Sortable="false" Editable="false" AggregateDefinition="_expAggr"
                                                        FooterStyle="padding-inline-start: 1px; padding-inline-end:8px; text-align:right" Context="qi">
                                            <EditTemplate>

                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.TaxAmount" Title="Tax Amount" Format="@(CurrentObject!.CurrencyCode == PruGC.Currencies.USD ? "#,##0.00" : "#,##0")"
                                                        HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell reddit-mono-500" CellStyle="text-align:right"
                                                        Filterable="false" Sortable="false" Editable="false"
                                                        AggregateDefinition="_expAggr" FooterStyle="padding-inline-start: 1px; padding-inline-end:8px; text-align:right" Context="qi">
                                            <EditTemplate>

                                            </EditTemplate>
                                        </PropertyColumn>
                                        <TemplateColumn Title="Exp. Year" HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell" Context="expItem"
                                                        Filterable="false" Sortable="false">
                                            <CellTemplate>
                                                <MudText Typo="Typo.body1">@((expItem.Item.ExpenseYr.HasValue ? expItem.Item.ExpenseYr!.Value.ToString() : "YYYY") + "-" + (expItem.Item.ExpenseMth.HasValue ? expItem.Item.ExpenseMth!.Value.ToString("00") : "MM"))</MudText>
                                            </CellTemplate>
                                            <EditTemplate>
                                                <MudStack Row=true Spacing="2">
                                                    <MudNumericField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" HideSpinButtons="true" Culture="@CultureInfo.GetCultureInfo("en-US")"
                                                                     AdornmentIcon="material-symbols-rounded/calendar_month" AdornmentColor=@Color.Primary Adornment="Adornment.Start"
                                                                     Label="Expense Month" T="int?"
                                                                     @bind-Value=expItem.Item.ExpenseMth For=@(() => expItem.Item.ExpenseMth) OnlyValidateIfDirty="true"
                                                                     Step="1" Min="1" Max="12" />
                                                    <MudNumericField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" HideSpinButtons="true" Culture="@CultureInfo.GetCultureInfo("en-US")"
                                                                     AdornmentIcon="material-symbols-rounded/calendar_month" AdornmentColor=@Color.Primary Adornment="Adornment.Start"
                                                                     Label="Expense Year"
                                                                     T="int?" @bind-Value=expItem.Item.ExpenseYr For=@(() => expItem.Item.ExpenseYr) OnlyValidateIfDirty="true"
                                                                     Step="1" Min="1900" Max="9999" />
                                                </MudStack>
                                            </EditTemplate>
                                        </TemplateColumn>
                                        <PropertyColumn Property="x => x.Remark" Title="Remark" Filterable="false" Sortable="false"
                                                        HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell"
                                                        HeaderStyle="max-width:350px"
                                                        Context="qi">
                                            <EditTemplate>
                                                <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Lines=4
                                                              Label="Remark"
                                                              @bind-Value=qi.Item.Remark For="@(() => qi.Item.Remark)" OnlyValidateIfDirty="true"
                                                              MaxLines="25" MaxLength="1000" />
                                            </EditTemplate>
                                        </PropertyColumn>
                                        <TemplateColumn Hidden=@IsViewMode Title="Action" HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell d-flex justify-end"
                                                        HeaderStyle="width:20px" Context="qi">
                                            <CellTemplate>
                                                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@qi.Actions.StartEditingItemAsync" />
                                                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" Color="Color.Error" OnClick="@(() => RemoveExpenseItem(qi.Item))" />
                                                <MudIconButton Size="Size.Small" Icon="@Icons.Material.Rounded.FileCopy" Color="Color.Success" OnClick="@(() => CloneExpenseItem(qi.Item))" />
                                            </CellTemplate>
                                        </TemplateColumn>
                                    </Columns>
                                </MudDataGrid>
                            </MudStack>
                        </MudItem>
                        @if (CurrentEditContext.GetValidationMessages().Any() || InvalidMsgList.Count > 0)
                        {
                            <MudItem xs="12" Class="pt-10">
                                @foreach (string msg in CurrentEditContext.GetValidationMessages())
                                {
                                    <MudAlert Variant="Variant.Outlined" Severity="Severity.Warning" Dense="true" Icon="material-symbols-rounded/warning" Class="pru-alert-validation mt-2">@msg</MudAlert>
                                }
                                @foreach (string key in InvalidMsgList.Keys)
                                {
                                    <MudAlert Variant="Variant.Outlined" Severity="Severity.Warning" Dense="true" Icon="material-symbols-rounded/warning" Class="pru-alert-validation mt-2">@InvalidMsgList[key]</MudAlert>
                                }
                            </MudItem>
                        }
                    </MudGrid>
                </MudPaper>
                <MudPaper Elevation="0" Height="26px" Style="background-color:var(--pru-red-tw-50)">
                    <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="1" Justify="Justify.FlexStart" Style="height:100%; padding: 0px 10px">
                        <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-gray-default)">Created By</MudText>
                        <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-red-default)">@CurrentObject.CreatedUser</MudText>
                        <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-gray-default)">on</MudText>
                        <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-red-default)">@(CurrentObject.CreatedDateTime.HasValue? CurrentObject.CreatedDateTime!.Value.ToString("dd-MMM-yyyy hh:mm:ss tt") : " - ")</MudText>
                        <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-gray-default)"> | Last Modified By</MudText>
                        <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-red-default)">@CurrentObject.ModifiedUser</MudText>
                        <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-gray-default)">on</MudText>
                        <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-red-default)">@(CurrentObject.ModifiedDateTime.HasValue? CurrentObject.ModifiedDateTime!.Value.ToString("dd-MMM-yyyy hh:mm:ss tt") : " - ")</MudText>
                    </MudStack>
                </MudPaper>
            </MudTabPanel>
            <MudTabPanel Text="History" Icon="material-symbols-rounded/history" Class="pru-mud-tab-panel" Style="min-width:120px">
                <MudPaper Class="px-4 pt-2 pb-5 overflow-y-auto" Height="calc(100vh - 210px)" Width="100%" Elevation="0" Style="position:relative">
                </MudPaper>
            </MudTabPanel>
        </MudTabs>
    </EditForm>
}


@code {
    #region UI PARAM
    IEnumerable<DropdownSelectItem> _vendorList = Enumerable.Empty<DropdownSelectItem>();
    IEnumerable<DropdownSelectItem> _lbuList = Enumerable.Empty<DropdownSelectItem>();
    IEnumerable<DropdownSelectItem> _currList = Enumerable.Empty<DropdownSelectItem>();
    IEnumerable<DropdownSelectItem> _wfsList = Enumerable.Empty<DropdownSelectItem>();
    IEnumerable<GLAccount> _glAccountList = Enumerable.Empty<GLAccount>();
    IEnumerable<FinActivityTracker> _finActTrackerList = Enumerable.Empty<FinActivityTracker>();
    MudDataGrid<InvoiceItem> _qItemDataGrid = new();
    MudDataGrid<ExpenseItem> _expItemDataGrid = new();
    InvoiceItem? _tempItemToAdd;
    ExpenseItem? _tempExpItemToAdd;
    IEnumerable<string> _lbuIDList = ["PCLA", "PMLI", "PLAL"];

    int? _expMth;
    int? _expYr;


    AggregateDefinition<InvoiceItem> _itemAggr = new AggregateDefinition<InvoiceItem>
    {
        Type = AggregateType.Sum,
        NumberFormat = "N2",
        DisplayFormat = "{value}"
    };

    AggregateDefinition<ExpenseItem> _expAggr = new AggregateDefinition<ExpenseItem>
    {
        Type = AggregateType.Sum,
        NumberFormat = "N2",
        DisplayFormat = "{value}"
    };
    #endregion

    #region PAGE LIFECYCLE FUNCTIONS
    public override Task SetParametersAsync(ParameterView parameters)
    {
        UrlPrefix = "/fin/invoice";

        return base.SetParametersAsync(parameters);
    }

    protected override async Task OnInitializedAsync()
    {
        switch (CRUCMode)
        {
            case CRUCModes.READ:
                {
                    CurrentObject = await Uow.Invoices.GetFullAsync(Id);
                    IsViewMode = true;
                }
                break;
            case CRUCModes.CREATE:
                {
                    CurrentObject = new();
                    _expMth = DateTime.Today.Month;
                    _expYr = DateTime.Today.Year;
                }
                break;
            case CRUCModes.UPDATE:
                CurrentObject = await Uow.Invoices.GetFullAsync(Id);
                break;
            case CRUCModes.CLONE:
                {
                    var tempObj = await Uow.Invoices.GetFullAsync(Id);
                    CurrentObject = tempObj.DeepClone();
                    CurrentObject!.Id = 0;
                    CurrentObject!.ObjectCode = null;
                    CurrentObject!.AccSysSubmID = null;

                    foreach (InvoiceItem i in CurrentObject.Items)
                    {
                        i.Id = 0;
                        i.InvoiceId = null;
                        i.InvoiceCode = null;
                        i.ObjectCode = null;
                        i.PurchaseOrderCode = null;
                        i.PurchaseOrderId = null;
                        i.PurchaseOrderItemId = null;
                    }

                    foreach (ExpenseItem i in CurrentObject.ExpenseItems)
                    {
                        i.Id = 0;
                        i.InvoiceId = null;
                        i.InvoiceCode = null;
                        i.ObjectCode = null;
                        i.InvoiceItemId = null;
                        i.AccSysID = null;
                    }
                }
                break;
        }

        CurrentEditContext = new EditContext(CurrentObject!);

        HeaderTitle = ObjectDisplayName;

        await PopulateUIControl();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            CurrentHotKeyContext = HotKeys.CreateContext()
            .Add(Code.Escape, CancelHotkeyPressed, new() { Exclude = Exclude.None })
            .Add(ModCode.Ctrl, Code.S, SaveHotKeyPressed, new() { Exclude = Exclude.None })
            .Add(ModCode.Ctrl | ModCode.Shift, Code.S, SaveAndCloseHotKeyPressed, new() { Exclude = Exclude.None });
        }

        return base.OnAfterRenderAsync(firstRender);
    }
    #endregion

    #region UI FUNCTIONS
    void AddInvoiceItem()
    {
        _tempItemToAdd = new()
        {
            OrderNo = CurrentObject!.Items.Count + 1
        };
        CurrentObject!.Items.Add(_tempItemToAdd);
        _qItemDataGrid.SetEditingItemAsync(_tempItemToAdd);
    }

    void UpdateExpensePeriod()
    {
        if (_expMth.HasValue && _expYr.HasValue)
        {
            foreach (InvoiceItem item in CurrentObject!.Items)
            {
                item.CoverageStartDate = new DateTime(_expYr.Value, _expMth.Value, 1);
                item.CoverageEndDate = item.CoverageStartDate!.Value.AddMonths(1).AddDays(-1);
            }

            foreach (ExpenseItem item in CurrentObject!.ExpenseItems)
            {
                item.ExpenseMth = _expMth.Value;
                item.ExpenseYr = _expYr.Value;
            }
        }
        else if (_expMth.HasValue)
        {
            foreach (InvoiceItem item in CurrentObject!.Items)
            {
                if (item.CoverageStartDate.HasValue)
                {
                    item.CoverageStartDate = new DateTime(item.CoverageStartDate.Value.Year, _expMth.Value, 1);
                    item.CoverageEndDate = item.CoverageStartDate!.Value.AddMonths(1).AddDays(-1);
                }
            }

            foreach (ExpenseItem item in CurrentObject!.ExpenseItems)
            {
                if (item.ExpenseYr.HasValue)
                    item.ExpenseMth = _expMth.Value;
            }
        }
        else if (_expYr.HasValue)
        {
            foreach (InvoiceItem item in CurrentObject!.Items)
            {
                if (item.CoverageStartDate.HasValue)
                {
                    item.CoverageStartDate = new DateTime(_expYr.Value, item.CoverageStartDate.Value.Month, 1);
                    item.CoverageEndDate = item.CoverageStartDate!.Value.AddMonths(1).AddDays(-1);
                }
            }

            foreach (ExpenseItem item in CurrentObject!.ExpenseItems)
            {
                if (item.ExpenseMth.HasValue)
                    item.ExpenseYr = _expYr.Value;
            }
        }
    }

    void RemoveInvoiceItem(InvoiceItem i)
    {
        int orderNoToRemove = i.OrderNo!.Value;

        if (i.Id > 0)
        {
            //#TODO# NOT YET IMPLEMENTED
        }
        else
        {
            CurrentObject!.Items.Remove(i);

            foreach (InvoiceItem item in CurrentObject!.Items.Where(x => x.OrderNo > orderNoToRemove).OrderBy(x => x.OrderNo))
            {
                item.OrderNo = orderNoToRemove;
                orderNoToRemove++;
            }
        }
    }

    void CloneInvoiceItem(InvoiceItem i)
    {
        _tempItemToAdd = new()
        {
            OrderNo = CurrentObject!.Items.Count + 1,
            ObjectName = i.ObjectName,
            TotalAmount = i.TotalAmount,
            CoverageStartDate = i.CoverageStartDate,
            CoverageEndDate = i.CoverageEndDate,
            UnitPrice = i.UnitPrice,
            Quantity = i.Quantity,
            TaxAmount = i.TaxAmount
        };

        CurrentObject!.Items.Add(_tempItemToAdd);
        _qItemDataGrid.SetEditingItemAsync(_tempItemToAdd);
    }

    void AddExpenseItem()
    {
        _tempExpItemToAdd = new()
        {
            OrderNo = CurrentObject!.ExpenseItems.Count + 1,
            ExpenseMth = CurrentObject!.EffectiveDate?.Month,
            ExpenseYr = CurrentObject!.EffectiveDate?.Year,

        };
        CurrentObject!.ExpenseItems.Add(_tempExpItemToAdd);
        _expItemDataGrid.SetEditingItemAsync(_tempExpItemToAdd);
    }

    void RemoveExpenseItem(ExpenseItem i)
    {
        int orderNoToRemove = i.OrderNo!.Value;

        if (i.Id > 0)
        {
            //#TODO# NOT YET IMPLEMENTED
        }
        else
        {
            CurrentObject!.ExpenseItems.Remove(i);

            foreach (ExpenseItem item in CurrentObject!.ExpenseItems.Where(x => x.OrderNo > orderNoToRemove).OrderBy(x => x.OrderNo))
            {
                item.OrderNo = orderNoToRemove;
                orderNoToRemove++;
            }
        }
    }

    void CloneExpenseItem(ExpenseItem i)
    {
        _tempExpItemToAdd = new()
        {
            OrderNo = CurrentObject!.ExpenseItems.Count + 1,
            AccountCode = i.AccountCode,
            AccountName = i.AccountName,
            ActivityTrackID = i.ActivityTrackID,
            ExpenseYr = i.ExpenseYr,
            ExpenseMth = i.ExpenseMth,
            Amount = i.Amount,
            TaxAmount = i.TaxAmount
        };

        CurrentObject!.ExpenseItems.Add(_tempExpItemToAdd);
        _expItemDataGrid.SetEditingItemAsync(_tempExpItemToAdd);
    }

    void StartedEditingItem(InvoiceItem item)
    {

    }

    void CanceledEditingItem(InvoiceItem item)
    {
        if (_tempItemToAdd != null)
        {
            CurrentObject!.Items.RemoveAt(CurrentObject!.Items.FindIndex(x => x.OrderNo == item.OrderNo));
            _tempItemToAdd = null;
        }
    }

    void CommittedItemChanges(InvoiceItem item)
    {
        _tempItemToAdd = null;
        item.TotalAmount = item.UnitPrice!.Value * item.Quantity!.Value;
    }

    void StartedEditingExpItem(ExpenseItem item)
    {

    }

    void CanceledEditingExpItem(ExpenseItem item)
    {
        if (_tempExpItemToAdd != null)
        {
            CurrentObject!.ExpenseItems.RemoveAt(CurrentObject!.ExpenseItems.FindIndex(x => x.OrderNo == item.OrderNo));
            _tempExpItemToAdd = null;
        }
    }

    void CommittedExpItemChanges(ExpenseItem item)
    {
        _tempExpItemToAdd = null;
    }

    private async Task OnLBUChanged(string lbu)
    {
        if (!string.IsNullOrEmpty(lbu))
        {
            CurrentObject!.LBU = lbu;
            _vendorList = await Uow.Vendors.GetForDropdownListAsync(CurrentObject!.LBU, CurrentObject!.VendorID);
        }
        else
        {
            CurrentObject!.LBU = null;
            _vendorList = [];
        }
    }

    bool SeachGlAccountDropdown(string? value, string? text, string? searchString)
    {
        if (string.IsNullOrEmpty(searchString)
            || (value?.Contains(searchString!, StringComparison.InvariantCultureIgnoreCase) ?? false)
            || (text?.Contains(searchString!, StringComparison.InvariantCultureIgnoreCase) ?? false))
        {
            return true;
        }

        return false;
    }

    void OnGlAccountSelectionChanged(ExpenseItem item, string? glAccountCode)
    {
        if (string.IsNullOrEmpty(glAccountCode))
        {
            item.AccountCode = null;
            item.AccountName = null;
        }
        else {
            item.AccountCode = glAccountCode;
            GLAccount? glAcc = _glAccountList.SingleOrDefault<GLAccount>(x => x.ObjectCode == glAccountCode);

            if (glAcc != null)
            {
                item.AccountName = glAcc.ObjectName;
            }
        }
    }
    #endregion

    #region UPDATE FUNCTIONS
    protected override async Task PreSaveProcessing()
    {
        CurrentObject!.ObjectCode = CurrentObject!.ObjectCode!.ToUpper();
        await Task.CompletedTask;
    }

    protected override async Task ValidatePreSave()
    {
        InvalidMsgList.Clear();

        bool isDuplicated = await Uow.Invoices.IsDuplicateCodeAsync(CurrentObject!.Id, CurrentObject!.ObjectCode!);

        if (isDuplicated)
        {
            InvalidMsgList.Add("ObjectCode_Duplicate", $"Invoice with reference no. '{CurrentObject.ObjectCode}' is already existed.");
        }

        if (CurrentObject.WorkflowStatus!.Is(InvoiceWFStatuses.APPROVED, InvoiceWFStatuses.COMPLETE) && string.IsNullOrEmpty(CurrentObject.AccSysSubmID))
        {
            InvalidMsgList.Add("AccountSystemSubmID_Required", "'Accounting System Ref#' required for Approved or Complete status.");
        }
    }

    protected override async Task<bool> SaveAndCommitProcessing()
    {
        DateTime timestamp = DateTime.Now;

        if (CurrentObject!.Id == 0)
        {
            CurrentObject!.CreatedUser = AuditTrailUser;
            CurrentObject!.CreatedDateTime = timestamp;
        }

        CurrentObject!.ModifiedUser = AuditTrailUser;
        CurrentObject!.ModifiedDateTime = timestamp;

        int objId = await Uow.Invoices.InsertOrUpdateFullAsync(CurrentObject!);
        return objId > 0;
    }
    #endregion

    #region INTERNAL FUNCTION
    async Task PopulateUIControl()
    {
        _lbuList = PruLBUs.GetForDropdown();

        if (!string.IsNullOrEmpty(CurrentObject!.LBU))
            _vendorList = await Uow.Vendors.GetForDropdownListAsync(CurrentObject!.LBU, CurrentObject!.VendorID);

        _wfsList = InvoiceWFStatuses.GetForDropdownList();
        _currList = PruGC.Currencies.GetForDropdownList();
        _glAccountList = await Uow.GLAccounts.GetAllAsync();
        _finActTrackerList = await Uow.FinActivityTrackers.GetAllAsync();
        // await Task.CompletedTask;
    }
    #endregion
}