@page "/itasset/category/cruc/{CRUCMode}"
@page "/itasset/category/cruc/{CRUCMode}/{id:int}"

@* @rendermode InteractiveAuto*@

@inherits CRUCPageBase<ITAssetCategory>

@if (CurrentObject != null && CurrentEditContext != null)
{
    <EditForm EditContext="CurrentEditContext" OnValidSubmit="SaveDummy" OnInvalidSubmit="SaveDummy" >
        <DataAnnotationsValidator />
        <MudPaper Class="px-4 py-3 rounded" Width="100%" Elevation="0" Square="true" Style="background-color:var(--pru-cyan-tw-50); border: solid 1px var(--pru-cyan-tw-400)">
            <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                <div style="color:var(--pru-cyan-default); font-size:28px;">
                    <span style="font-weight:800">@HeaderTitle</span>
                    @if (CRUCMode == CRUDCModes.READ)
                    {
                        <MudChip Size="Size.Small" Color="Color.Success" Class=@($"status-chip-tiny") T="string" Style="margin-top:-5px">View</MudChip>
                    }
                    else if (CRUCMode == CRUDCModes.UPDATE)
                    {
                        <MudChip Size="Size.Small" Color="Color.Info" Class=@($"status-chip-tiny") T="string">Update</MudChip>
                    }
                    else if (CRUCMode == CRUDCModes.CREATE)
                    {
                        <MudChip Size="Size.Small" Color="Color.Info" Class=@($"status-chip-tiny") T="string">New</MudChip>
                    }
                    else if (CRUCMode == CRUDCModes.CLONE)
                    {
                        <MudChip Size="Size.Small" Color="Color.Info" Class=@($"status-chip-tiny") T="string">New (Clone)</MudChip>
                    }
                </div>
                <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd">
                    @if (!IsViewMode)
                    {
                        <MudButton Variant="Variant.Filled" StartIcon="material-symbols-rounded/save_as" Size="Size.Small" Color="Color.Primary" DropShadow="false" Class="pru-btn-base"
                                   OnClick="@(() => Save())">Save</MudButton>
                        <MudButton Variant="Variant.Filled" StartIcon="material-symbols-rounded/save" Size="Size.Small" Color="Color.Primary" DropShadow="false" Class="pru-btn-base"
                                   OnClick="@(() => Save(true))">Save & Close</MudButton>
                        <MudButton Variant="Variant.Filled" StartIcon="material-symbols-rounded/cancel" Size="Size.Small" Color="Color.Secondary" DropShadow="false" Class="pru-btn-base"
                                   OnClick="Cancel">Cancel</MudButton>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Rounded.Close" Size="Size.Small" Color="Color.Default" OnClick="Cancel">Close</MudButton>
                    }
                </MudStack>
            </MudStack>
        </MudPaper>
        <MudTabs Class="pru-mud-tab cruc-pg mt-3" Elevation="0">
            <MudTabPanel Text="Main" Icon="material-symbols-rounded/home" Class="pru-mud-tab-panel" Style="min-width:120px">
                <MudPaper Class="px-4 pt-2 pb-5 overflow-y-auto" Height="calc(100vh - 210px)" Width="100%" Elevation="0" Style="position:relative">
                    <MudForm Model="@CurrentObject" @ref=@CrucForm @bind-IsValid=@IsValidationPassed @bind-Errors=@MudValidationErrors >
                        <MudGrid Spacing="2" Justify="Justify.SpaceEvenly">
                            <MudItem xs="6">
                                <MudTextField ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" FullWidth="true" Class="pru-mud-form-field bordered" Required="true"
                                              Label="Name"
                                              @bind-Value=CurrentObject!.ObjectName For="@(() => CurrentObject.ObjectName)" 
                                              MaxLength="255" @ref=_uiControlObjectName />
                            </MudItem>
                            <MudItem xs="3">
                                <MudTextField ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" FullWidth="true" Class="pru-mud-form-field bordered" MaxLength="80"
                                              Label="ID"
                                              @bind-Value=CurrentObject!.ObjectCode For="@(() => CurrentObject.ObjectCode)" OnlyValidateIfDirty="true"
                                              Required="true" RequiredError="'ID' is required." />
                            </MudItem>
                            <MudItem xs="3">
                                <MudSelect ReadOnly="@IsViewMode" Clearable="true" Class="pru-mud-form-field bordered pru-ui-select" PopoverClass="pru-ui-select-popover" Required="true" FullWidth="true"
                                           Label="Asset Type" Placeholder="Select asset type"
                                           Value=CurrentObject!.AssetType For="@(() => CurrentObject.AssetType)" ValueChanged="OnAssetTypeChanged" InputId="AssetType" T="string" OnlyValidateIfDirty="true">
                                    @foreach (DropdownSelectItem assetType in _assetTypeList)
                                    {
                                        <MudSelectItem Value=@assetType.Key>@assetType.Value</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            @if (CurrentObject.Id > 0)
                            {
                                <MudItem xs="12">
                                    <MudComboBox ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-combo-box" PopoverClass="pru-ui-combo-box-popover" Editable="true" Variant="Variant.Text" SearchBox="true" Strict="true" autocomplete="new-password"
                                                 Label="Parent" T="int?"
                                                 Value="@CurrentObject.ParentId" ValueChanged="OnParentChanged"
                                                 ToStringFunc="@(val => val is not null && val > 0 ? _validParentList.SingleOrDefault<DropDownListItem>(x => x.ObjectId == val)?.ObjectName : "-")">
                                        <ChildContent>
                                            @foreach (var item in _validParentList)
                                            {
                                                <MudComboBoxItem T="int?" Value="@item.ObjectId" Text="@item.ObjectName">@item.ObjectName</MudComboBoxItem>
                                            }
                                        </ChildContent>
                                    </MudComboBox>
                                </MudItem>
                            }
                            <MudItem xs="12">
                                <MudTextField ReadOnly="true" Clearable="true" ShrinkLabel="true" FullWidth="true" Class="pru-mud-form-field bordered"
                                              Label="Hierarchy Path"
                                              @bind-Value=CurrentObject!.HierarchyPath For="@(() => CurrentObject.HierarchyPath)" OnlyValidateIfDirty="true" />
                            </MudItem>
                            @if (CurrentEditContext.GetValidationMessages().Any() || InvalidMsgList.Count > 0)
                            {
                                <MudItem xs="12" Class="pt-10">
                                    @* @foreach (string msg in CurrentEditContext.GetValidationMessages())
                                    {
                                        <MudAlert Variant="Variant.Outlined" Severity="Severity.Warning" Dense="true" Icon="material-symbols-rounded/warning" Class="pru-alert-validation mt-2">@msg</MudAlert>
                                    } *@
                                    @foreach (string key in InvalidMsgList.Keys)
                                    {
                                        <MudAlert Variant="Variant.Outlined" Severity="Severity.Warning" Dense="true" Icon="material-symbols-rounded/warning" Class="pru-alert-validation mt-2">@InvalidMsgList[key]</MudAlert>
                                    }
                                </MudItem>
                            }
                        </MudGrid>
                    </MudForm>
                    @if (Id > 0)
                    {
                        <MudStack Row="true" Class="px-2 py-1" AlignItems="AlignItems.Center" Spacing="1" Style="position:absolute; bottom:0; left:0; right:0; background-color:var(--pru-red-tw-50)">
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-gray-default)">Created By</MudText>
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-red-default)">@CurrentObject.CreatedUser</MudText>
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-gray-default)">on</MudText>
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-red-default)">@(CurrentObject.CreatedDateTime.HasValue? CurrentObject.CreatedDateTime!.Value.ToString("dd-MMM-yyyy hh:mm:ss tt") : " - ")</MudText>
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-gray-default)"> | Last Modified By</MudText>
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-red-default)">@CurrentObject.ModifiedUser</MudText>
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-gray-default)">on</MudText>
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-red-default)">@(CurrentObject.ModifiedDateTime.HasValue? CurrentObject.ModifiedDateTime!.Value.ToString("dd-MMM-yyyy hh:mm:ss tt") : " - ")</MudText>
                        </MudStack>
                    }
                </MudPaper>
            </MudTabPanel>
            <MudTabPanel Text="History" Icon="material-symbols-rounded/history" Class="pru-mud-tab-panel" Style="min-width:120px">
                <MudPaper Class="px-4 pt-2 pb-5 overflow-y-auto" Height="calc(100vh - 210px)" Width="100%" Elevation="0" Style="position:relative">
                    
                </MudPaper>
            </MudTabPanel>
        </MudTabs>
    </EditForm>
}


@code {
    #region UI PARAM
    IEnumerable<DropDownListItem> _validParentList = [];
    IEnumerable<DropdownSelectItem> _assetTypeList = AssetTypes.GetForDropdownList();
    MudTextField<string>? _uiControlObjectName;
    string _parentHierarchyPath = "";
    #endregion

    #region PAGE LIFECYCLE FUNCTIONS
    public override Task SetParametersAsync(ParameterView parameters)
    {
        UrlPrefix = "/itasset/category";

        return base.SetParametersAsync(parameters);
    }

    protected override async Task OnInitializedAsync()
    {
        switch(CRUCMode)
        {
            case CRUCModes.READ:
                {
                    CurrentObject = await Uow.ITAssetCategories.GetAsync(Id);
                    IsViewMode = true;
                }
                break;
            case CRUCModes.CREATE:
                {
                    CurrentObject = new();
                }
                break;
            case CRUCModes.UPDATE:
                CurrentObject = await Uow.ITAssetCategories.GetAsync(Id);
                break;
            case CRUCModes.CLONE:
                {
                    var tempObj = await Uow.ITAssetCategories.GetAsync(Id);
                    CurrentObject = tempObj.DeepClone();
                    CurrentObject!.Id = 0;
                    CurrentObject!.ObjectCode = String.Empty;
                } break;
        }

        CurrentEditContext = new EditContext(CurrentObject!);

        HeaderTitle = ObjectDisplayName;

        if (CurrentObject!.Parent is not null)
            _parentHierarchyPath = CurrentObject!.Parent.HierarchyPath!;

        await PopulateUIControl();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (_uiControlObjectName is not null)
                await _uiControlObjectName.FocusAsync();
        }
    }
    #endregion

    #region UI FUNCTIONS
    private async Task OnAssetTypeChanged(string assetType)
    {
        if (string.IsNullOrEmpty(assetType))
            CurrentObject!.AssetType = null;
        else
            CurrentObject!.AssetType = assetType;
    }

    void OnParentChanged(int? val)
    {
        if (val is null || val <= 0)
        {
            CurrentObject!.ParentId = null;
            CurrentObject!.ParentCode = null;
            CurrentObject!.Parent = null;
            _parentHierarchyPath = string.Empty;
        }
        else
        {
            DropDownListItem? item = _validParentList.SingleOrDefault<DropDownListItem>(x => x.ObjectId == val!.Value);

            if (item is not null)
            {
                CurrentObject!.ParentId = item.ObjectId;
                CurrentObject!.ParentCode = item.ObjectCode;
                _parentHierarchyPath = item.HierarchyPath ?? "";
            }
        }
    }
    #endregion

    #region UPDATE FUNCTIONS
    protected override async Task PreSaveProcessing()
    {
        CurrentObject!.ObjectCode = CurrentObject!.ObjectCode!.ToUpper();

        if (!string.IsNullOrEmpty(_parentHierarchyPath))
            CurrentObject!.HierarchyPath = $"{_parentHierarchyPath}>{CurrentObject!.ObjectCode}";
        else
            CurrentObject!.HierarchyPath = CurrentObject!.ObjectCode;

        await Task.CompletedTask;
    }

    protected override async Task ValidatePreSave()
    {
        InvalidMsgList.Clear();

        bool isDuplicated = await Uow.ITAssetCategories.IsDuplicateCodeAsync(CurrentObject!.Id, CurrentObject!.ObjectCode!);

        if (isDuplicated)
        {
            InvalidMsgList.Add("ObjectCode_Duplicate", $"Organization Structure with ID='{CurrentObject.ObjectCode}' is already existed.");
        }
    }

    protected override async Task<bool> SaveAndCommitProcessing()
    {
        DateTime timestamp = DateTime.Now;

        if (CurrentObject!.Id == 0)   //create
        {
            CurrentObject!.CreatedUser = AuditTrailUser;
            CurrentObject!.ModifiedUser = AuditTrailUser;
            CurrentObject!.CreatedDateTime = timestamp;
            CurrentObject!.ModifiedDateTime = timestamp;

            int objId = await Uow.ITAssetCategories.InsertAsync(CurrentObject!);

            if (objId > 0)
            {
                CurrentObject!.Id = objId;
                Id = objId;
                return true;
            }
            else
                return false;
        }
        else    // update
        {
            CurrentObject!.ModifiedUser = AuditTrailUser;
            CurrentObject!.ModifiedDateTime = DateTime.Now;

            bool isupdated = await Uow.ITAssetCategories.UpdateAsync(CurrentObject!);
            return isupdated;
        }
    }
    #endregion

    #region INTERNAL FUNCTION
    async Task PopulateUIControl()
    {
        if (CurrentObject is not null && CurrentObject!.Id > 0)
            _validParentList = await Uow.ITAssetCategories.GetValidParentsAsync(CurrentObject.Id, CurrentObject.ObjectCode!, null);
    }
    #endregion
}