@page "/core/person/{CRUCMode}"
@page "/core/person/{CRUCMode}/{id:int}"

@inherits CRUCPageBase<Person>

@if (CurrentObject != null && CurrentEditContext != null)
{
    <EditForm EditContext="CurrentEditContext" OnValidSubmit="SaveDummy" OnInvalidSubmit="SaveDummy" >
        <DataAnnotationsValidator />
        <MudPaper Class="moog-pg-banner mt-3" Elevation="1">
            <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                <MudStack Row="true" AlignItems="AlignItems.Start" Justify="Justify.FlexStart" Spacing="0">
                    <MudText Typo="Typo.h1" Color="@Color.Primary" Style="font-weight:800; font-size:20pt;">@HeaderTitle</MudText>
                    @if (CRUCMode == CRUDCModes.READ)
                    {
                        <MudChip Size="Size.Small" Color="Color.Success" Class=@($"status-chip-tiny") T="string" Style="margin-top:-5px">View</MudChip>
                    }
                    else if (CRUCMode == CRUDCModes.UPDATE)
                    {
                        <MudChip Size="Size.Small" Color="Color.Info" Class=@($"status-chip-tiny") T="string">Update</MudChip>
                    }
                    else if (CRUCMode == CRUDCModes.CREATE)
                    {
                        <MudChip Size="Size.Small" Color="Color.Info" Class=@($"status-chip-tiny") T="string">New</MudChip>
                    }
                    else if (CRUCMode == CRUDCModes.CLONE)
                    {
                        <MudChip Size="Size.Small" Color="Color.Info" Class=@($"status-chip-tiny") T="string">New (Clone)</MudChip>
                    }
                </MudStack>
                <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd" Spacing="2">
                    @if (IsViewMode)
                    {
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Class="moog-btn-base moog-btn-gray" Color="Color.Dark"
                                   Disabled=@IsSaving OnClick="Cancel" StartIcon="material-symbols-rounded/close">
                            Close
                        </MudButton>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Class="moog-btn-base" Color="Color.Primary"
                                   Disabled=@IsSaving OnClick="@(() => Save(false))" StartIcon="material-symbols-rounded/save_as">
                            Save
                        </MudButton>
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Class="moog-btn-base" Color="Color.Primary"
                                   Disabled=@IsSaving OnClick="@(() => Save(true))" StartIcon="material-symbols-rounded/save">
                            Save & Close
                        </MudButton>
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Class="moog-btn-base moog-btn-gray" Color="Color.Default"
                                   Disabled=@IsSaving OnClick="Cancel" StartIcon="material-symbols-rounded/cancel">
                            Cancel
                        </MudButton>
                    }
                </MudStack>
            </MudStack>
        </MudPaper>
        <MudTabs Color="Color.Primary" Class="mt-3 moog-cruc-pg-mudtab" ActiveTabClass="moog-cruc-pg-mudtab-active" PanelClass="moog-cruc-pg-mudtab-panel" TabHeaderClass="moog-cruc-pg-mudtab-header" TabPanelClass="moog-cruc-pg-mudtab-tab-panel"
                 Style="height:calc(100vh - 185px);">
            <MudTabPanel Icon="material-symbols-rounded/home" Text="Main">
                <MudPaper Class="rounded-0" Elevation="1" Height="calc(100vh - 220px)" Style="overflow-y: auto;">
                    <MudStack Row="true" AlignItems="AlignItems.Start" Justify="Justify.SpaceBetween" StretchItems="StretchItems.All" Spacing="1">
                        <MudGrid Spacing="3" Class="pa-3">
                            <MudItem xs="6">
                                <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="moog-mud-form-field bordered" Required="true"
                                              Label="Full Name (EN)" @ref=_mtfObjName
                                              @bind-Value="CurrentObject!.ObjectName" For="@(() => CurrentObject!.ObjectName)" />
                            </MudItem>
                            <MudItem xs="4">
                                <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="moog-mud-form-field bordered lang-kh"
                                              Label="Name (Kh)" Placeholder="ឈ្មោះខ្មែរ"
                                              @bind-Value="CurrentObject!.ObjectNameKh" For="@(() => CurrentObject!.ObjectNameKh)"  />
                            </MudItem>
                            <MudItem xs="2">
                                <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="moog-mud-form-field bordered" Required="false" 
                                              Label="ID" 
                                              @bind-Value="CurrentObject!.ObjectCode" For="@(() => CurrentObject!.ObjectCode)" Style="text-transform:uppercase" />
                            </MudItem>
                            <MudItem xs="3">
                                <MudDatePicker ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Editable="true" Class="moog-mud-form-field bordered moog-ui-datepicker" Required="false"
                                               AdornmentIcon="material-symbols-rounded/calendar_month" AdornmentColor=@Color.Primary
                                               Label="Purchased Date" Placeholder="Purchased Date" DateFormat="dd-MMM-yyyy"
                                               @bind-Date="CurrentObject!.BirthDate" For="@(() => CurrentObject!.BirthDate)" />
                            </MudItem>
                            <MudItem xs="3">
                                <MudSelect ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="moog-mud-form-field bordered moog-ui-select" PopoverClass="moog-ui-select-popover"
                                           Label="Gender" T="string"
                                           Value="@CurrentObject!.Gender" ValueChanged="OnGenderChanged">
                                    @foreach (var gender in _genderList)
                                    {
                                        <MudSelectItem T="string" Value="@gender.Key">@gender.Value</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="3">
                                <MudSelect ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="moog-mud-form-field bordered moog-ui-select" PopoverClass="moog-ui-select-popover"
                                           Label="Marital Status" T="string"
                                           @bind-Value="@CurrentObject!.MaritalStatus" For="@(() => CurrentObject!.MaritalStatus)">
                                    @foreach (var item in _maritalStatusList)
                                    {
                                        <MudSelectItem T="string" Value="@item.Key">@item.Value</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="3">
                                <MudComboBox ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="moog-mud-form-field bordered moog-ui-combo-box" Editable="true" Variant="Variant.Text" SearchBox="true" Strict="true" autocomplete="new-password"
                                             PopoverClass="moog-ui-combo-box-popover"
                                             Label="Nationality" T="string"
                                             @bind-Value="@CurrentObject.NatlCtyCode" 
                                             ToStringFunc="@(e => string.IsNullOrEmpty(e) ? "" : _countryList.SingleOrDefault<DropDownListItem>(x => x.ObjectCode == e)?.ObjectName)">
                                    <ChildContent>
                                        @foreach (var cty in _countryList)
                                        {
                                            <MudComboBoxItem T="string" Value="@cty.ObjectCode" Text="@cty.ObjectName">@cty.ObjectName</MudComboBoxItem>
                                        }
                                    </ChildContent>
                                </MudComboBox>
                            </MudItem>
                            <MudItem xs="3">
                                <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="moog-mud-form-field bordered" Required="false"
                                              AdornmentIcon="material-symbols-rounded/id_card" Adornment="Adornment.Start" AdornmentColor=@Color.Primary
                                              Label="National ID No."
                                              @bind-Value="CurrentObject!.NationalIdNum" For="@(() => CurrentObject!.NationalIdNum)" />
                            </MudItem>
                            <MudItem xs="3">
                                <MudDatePicker ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Editable="true" Class="moog-mud-form-field bordered moog-ui-datepicker" Required="false"
                                               AdornmentIcon="material-symbols-rounded/calendar_month" AdornmentColor=@Color.Primary
                                               Label="Expiry Date" Placeholder="DD-MMM-YYYY" DateFormat="dd-MMM-yyyy"
                                               @bind-Date="CurrentObject!.NationalIDExpiryDate" For="@(() => CurrentObject!.NationalIDExpiryDate)" />
                            </MudItem>
                            <MudItem xs="3">
                                <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="moog-mud-form-field bordered" Required="false"
                                              AdornmentIcon="material-symbols-rounded/passport" Adornment="Adornment.Start" AdornmentColor=@Color.Primary
                                              Label="Passport No."
                                              @bind-Value="CurrentObject!.PassportNo" For="@(() => CurrentObject!.PassportNo)" />
                            </MudItem>
                            <MudItem xs="3">
                                <MudDatePicker ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Editable="true" Class="moog-mud-form-field bordered moog-ui-datepicker" Required="false"
                                               AdornmentIcon="material-symbols-rounded/calendar_month" AdornmentColor=@Color.Primary
                                               Label="Expiry Date" Placeholder="DD-MMM-YYYY" DateFormat="dd-MMM-yyyy"
                                               @bind-Date="CurrentObject!.PassportExpiryDate" For="@(() => CurrentObject!.PassportExpiryDate)" />
                            </MudItem>
                            <MudItem xs="6">
                                <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="moog-mud-form-field bordered" Required="false"
                                              AdornmentIcon="material-symbols-rounded/mobile" Adornment="Adornment.Start" AdornmentColor=@Color.Primary
                                              Label="Phone No. (1)"
                                              @bind-Value="CurrentObject!.PhoneLine1" For="@(() => CurrentObject!.PhoneLine1)" />
                            </MudItem>
                            <MudItem xs="6">
                                <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="moog-mud-form-field bordered" Required="false"
                                              AdornmentIcon="material-symbols-rounded/mobile" Adornment="Adornment.Start" AdornmentColor=@Color.Primary
                                              Label="Phone No. (2)"
                                              @bind-Value="CurrentObject!.PhoneLine2" For="@(() => CurrentObject!.PhoneLine2)" />
                            </MudItem>
                            <MudItem xs="6">
                                <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="moog-mud-form-field bordered" Required="false"
                                              AdornmentIcon="material-symbols-rounded/mail" Adornment="Adornment.Start" AdornmentColor=@Color.Primary
                                              Label="Email (Personal)"
                                              @bind-Value="CurrentObject!.PersonalEmail" For="@(() => CurrentObject!.PersonalEmail)" />
                            </MudItem>
                            <MudItem xs="6">
                                <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="moog-mud-form-field bordered" Required="false"
                                              AdornmentIcon="material-symbols-rounded/mail" Adornment="Adornment.Start" AdornmentColor=@Color.Primary
                                              Label="Email (Work)"
                                              @bind-Value="CurrentObject!.WorkEmail" For="@(() => CurrentObject!.WorkEmail)" />
                            </MudItem>
                        </MudGrid>
                        <MudPaper MinWidth="500px" MaxWidth="500px" MaxHeight="1000px" MinHeight="500px" Class="pa-2" Elevation="0" >
                            <MudCarousel Class="mud-full-width" ShowArrows="false" ShowBullets="true" BulletsPosition="Position.End" EnableSwipeGesture="true" AutoCycle="false" TData="object" Style="min-height:540px">
                                <BulletTemplate Context="selected">
                                    <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon" style="padding:8px">
                                        <span class="mud-icon-button-label">
                                            <MudIcon Icon="@(selected ? "fas fa-image" : "far fa-image")" Color=@(selected? Color.Primary: Color.Default) Size="Size.Medium" />
                                        </span>
                                    </div>
                                </BulletTemplate>
                                <ChildContent>
                                    @if (_images.Count > 0)
                                    {
                                        foreach (AttachedImage img in _images)
                                        {
                                            <MudCarouselItem Transition="Transition.Slide" Color="Color.Default">
                                                <div class="d-flex">
                                                    <MudImage Src="@img.ImageUrl" Width="500" Elevation="0" />
                                                </div>
                                            </MudCarouselItem>
                                        }
                                    }
                                    else
                                    {
                                        <MudCarouselItem Transition="Transition.Slide" Color="Color.Default">
                                            <MudImage Src="\image\no_img_available.jpg" Width="500" Elevation="0" />
                                        </MudCarouselItem>
                                    }
                                </ChildContent>
                            </MudCarousel>
                            <MudTooltip Text="Update Images" Arrow="true" Color="Color.Default">
                                <MudFab StartIcon="fas fa-images" Size="Size.Small" Color="Color.Primary" DropShadow="false" OnClick="OnUpdateImageClicked" />
                            </MudTooltip>
                        </MudPaper>
                    </MudStack>
                </MudPaper>
                <MudPaper Height="26px" Elevation="1"
                          Style="padding:0px; background-color:var(--material-blue-gray-50); border-top-left-radius:0px; border-top-right-radius:0px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px">
                    <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.FlexStart" Spacing="1" Style="height:100%; padding: 0px 10px">
                        <MudText Typo="Typo.subtitle1" Style="font-size:8pt; color:var(--material-blue-gray-500)">Created by </MudText>
                        <MudText Typo="Typo.subtitle1" Style="font-size:8pt; font-weight:600; color:var(--material-blue-gray-500)">@CurrentObject!.CreatedUser</MudText>
                        @* <MudChip T="string" Class="status-chip-tiny" Style="font-size:8pt; padding-left:6px;padding-right:6px">@CurrentObject!.CreatedUser</MudChip> *@
                        <MudText Typo="Typo.subtitle1" Style="font-size:8pt; color:var(--material-blue-gray-500)"> on </MudText>
                        <MudText Typo="Typo.subtitle1" Style="font-size:8pt; font-weight:600; color:var(--material-blue-gray-500)">@(CurrentObject!.CreatedDateTimeText)</MudText>
                        @* <MudChip T="string" Class="status-chip-tiny" Style="font-size:8pt; padding-left:6px;padding-right:6px">
                                @(CurrentObject!.CreatedDateTime is null ? " - " : CurrentObject!.CreatedDateTime!.Value.ToString("dd-MMM-yyyy HH:mm:ss"))
                            </MudChip> *@
                        <MudText Typo="Typo.subtitle1" Style="font-size:8pt; color:var(--material-blue-gray-500)">| Last modified by </MudText>
                        <MudText Typo="Typo.subtitle1" Style="font-size:8pt; font-weight:600; color:var(--material-blue-gray-500)">@CurrentObject!.ModifiedUser</MudText>
                        @* <MudChip T="string" Class="status-chip-tiny" Style="font-size:8pt; padding-left:6px;padding-right:6px">@CurrentObject!.ModifiedUser</MudChip> *@
                        <MudText Typo="Typo.subtitle1" Style="font-size:8pt; color:var(--material-blue-gray-500)"> on </MudText>
                        <MudText Typo="Typo.subtitle1" Style="font-size:8pt; font-weight:600; color:var(--material-blue-gray-500)">@(CurrentObject!.ModifiedDateTimeText)</MudText>
                        @* <MudChip T="string" Class="status-chip-tiny" Style="font-size:8pt; padding-left:6px;padding-right:6px">
                                @(CurrentObject!.ModifiedDateTime is null ? " - " : CurrentObject!.ModifiedDateTime!.Value.ToString("dd-MMM-yyyy HH:mm:ss"))
                            </MudChip> *@
                    </MudStack>
                </MudPaper>
            </MudTabPanel>
            <MudTabPanel Icon="@Icons.Material.Rounded.Info" Text="Other Info" Style="height:100%">
                
            </MudTabPanel>
        </MudTabs>
    </EditForm>
}

@code {

    #region UI PARAM
    List<DropDownListItem> _countryList = [];
    List<DropdownSelectItem> _genderList = Genders.GetForDropdown();
    List<DropdownSelectItem> _maritalStatusList = MaritalStatuses.GetForDropdown();
    MudTextField<string>? _mtfObjName;
    List<AttachedImage> _images = [];
    #endregion

    #region PAGE LIFECYCLE FUNCTIONS
    public override Task SetParametersAsync(ParameterView parameters)
    {
        UrlPrefix = "/core/person";
        return base.SetParametersAsync(parameters);
    }

    protected override async Task OnInitializedAsync()
    {
        switch (CRUCMode)
        {
            case CRUDCModes.READ:
                {
                    CurrentObject = await Uow.Persons.GetAsync(Id);
                    IsViewMode = true;
                }
                break;
            case CRUDCModes.CREATE:
                {
                    CurrentObject = new();
                }
                break;
            case CRUDCModes.UPDATE:
                CurrentObject = await Uow.Persons.GetAsync(Id);
                break;
            case CRUDCModes.CLONE:
                {
                    var tempObj = await Uow.Persons.GetAsync(Id);
                    CurrentObject = tempObj!.DeepClone();
                    CurrentObject!.Id = 0;
                    CurrentObject!.ObjectCode = String.Empty;
                }
                break;
        }

        CurrentEditContext = new EditContext(CurrentObject!);

        if (CurrentObject != null && CurrentObject.Id > 0)
            _images = await Uow.AttachedImages.GetByLinkedObjectAsync(CurrentObject.Id, CurrentObject.GetType().Name);

        await PopulatedUIControls();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (_mtfObjName != null && !IsViewMode)
                await _mtfObjName!.FocusAsync();
        }
    }
    #endregion

    #region UI FUNCTIONS
    async Task OnUpdateImageClicked()
    {
        DialogParameters<AttachedImagesDiag> param = new();
        param.Add(x => x.Images, _images);

        var diagOptions = new DialogOptions
        {
            BackdropClick = false,
            CloseButton = true,
            CloseOnEscapeKey = false,
            MaxWidth = MaxWidth.Large,
            Position = DialogPosition.Center
        };

        var dialog = await MudDialogSvc.ShowAsync<AttachedImagesDiag>($"IMAGE(S)", param, diagOptions);
        var result = await dialog.Result;
    }

    void OnGenderChanged(string? value)
    {
        CurrentObject!.Gender = value;
    }
    #endregion

    #region DB UPDATE FUNCTIONS
    protected override async Task ValidatePreSave()
    {
        InvalidMsgList.Clear();

        bool isDuplicated = await Uow.Items.IsDuplicateCodeAsync(CurrentObject!.Id, CurrentObject!.ObjectCode!);

        if (isDuplicated)
        {
            InvalidMsgList.Add("ObjectCode_Duplicate", $"Record with ObjectCode='{CurrentObject.ObjectCode}' is already existed.");
        }
    }

    protected override Task PreSaveProcessing()
    {
        CurrentObject!.ObjectCode = CurrentObject!.ObjectCode!.ToUpper();
        return base.PreSaveProcessing();
    }

    protected override async Task<bool> SaveAndCommitProcessing()
    {
        DateTime timestamp = DateTime.Now;

        if (CurrentObject!.Id == 0)   //CREATE
        {
            CurrentObject!.CreatedUser = AuditTrailUser;
            CurrentObject!.ModifiedUser = AuditTrailUser;
            CurrentObject!.CreatedDateTime = timestamp;
            CurrentObject!.ModifiedDateTime = timestamp;

            int objId = await Uow.Persons.InsertAsync(CurrentObject!);

            if (objId > 0)
            {
                CurrentObject!.Id = objId;
                return true;
            }
            else return false;
        }
        else    // UPDATE
        {
            CurrentObject!.ModifiedUser = AuditTrailUser;
            CurrentObject!.ModifiedDateTime = timestamp;

            return await Uow.Persons.UpdateAsync(CurrentObject!);
        }
    }
    #endregion

    #region INTERNAL FUNCTIONS
    async Task PopulatedUIControls()
    {
        _countryList = await Uow.Countries.GetForDropdownSelect1Async();
    }
    #endregion
}
