@page "/fin/po/cruc/{CRUCMode}"
@page "/fin/po/cruc/{CRUCMode}/{id:int}"

@* @rendermode InteractiveAuto*@

@inherits CRUCPageBase<PurchaseOrder>

@if (CurrentObject != null && CurrentEditContext != null)
{
    <EditForm EditContext="CurrentEditContext" OnValidSubmit="SaveDummy" OnInvalidSubmit="SaveDummy" >
        <DataAnnotationsValidator />
        <MudPaper Class="px-4 py-3 rounded" Width="100%" Elevation="0" Square="true" Style="background-color:var(--pru-cyan-tw-50); border: solid 1px var(--pru-cyan-tw-400)">
            <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                <div style="color:var(--pru-cyan-default); font-size:28px;">
                    <span style="font-weight:800">@HeaderTitle</span>
                    @if (CRUCMode == CRUDCModes.READ)
                    {
                        <MudChip Size="Size.Small" Color="Color.Success" Class=@($"status-chip-tiny") T="string" Style="margin-top:-5px">View</MudChip>
                    }
                    else if (CRUCMode == CRUDCModes.UPDATE)
                    {
                        <MudChip Size="Size.Small" Color="Color.Info" Class=@($"status-chip-tiny") T="string">Update</MudChip>
                    }
                    else if (CRUCMode == CRUDCModes.CREATE)
                    {
                        <MudChip Size="Size.Small" Color="Color.Info" Class=@($"status-chip-tiny") T="string">New</MudChip>
                    }
                    else if (CRUCMode == CRUDCModes.CLONE)
                    {
                        <MudChip Size="Size.Small" Color="Color.Info" Class=@($"status-chip-tiny") T="string">New (Clone)</MudChip>
                    }
                </div>
                <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd">
                    @if (!IsViewMode)
                    {
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Class="pru-btn-base" Color="Color.Primary"
                                   StartIcon="material-symbols-rounded/save_as"
                                   OnClick="@(() => Save())">Save</MudButton>
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Class="pru-btn-base" Color="Color.Primary"
                                   StartIcon="material-symbols-rounded/save"
                                   OnClick="@(() => Save(true))">Save & Close</MudButton>
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Class="pru-btn-base" Color="Color.Secondary"
                                   StartIcon="material-symbols-rounded/cancel"
                                   OnClick="Cancel">Cancel</MudButton>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Class="pru-btn-base" Color="Color.Default"
                                   StartIcon="material-symbols-rounded/close"
                                   OnClick="Cancel">Close</MudButton>
                    }
                </MudStack>
            </MudStack>
        </MudPaper>
        <MudTabs Class="pru-mud-tab cruc-pg mt-3" Elevation="0">
            <MudTabPanel Text="Main" Icon="material-symbols-rounded/home" Class="pru-mud-tab-panel" Style="min-width:120px">
                <MudPaper Class="px-4 pt-2 pb-5 overflow-y-auto" Height="calc(100vh - 210px)" Width="100%" Elevation="0" Style="position:relative">
                    <MudGrid Spacing="2" Justify="Justify.SpaceEvenly">
                        <MudItem xs="12">
                            <MudAutocomplete Readonly="@IsViewMode" Clearable="true" ShrinkLabel="true" FullWidth="true" Class="pru-mud-form-field bordered pru-ui-autocomplete" CoerceText="true" CoerceValue="true" SearchFunc="@SearchQuotation" Required="true"
                                             Label="Sale Quotation" HelperText="Sale Quotation with Status='CONFIRMED'"
                                             Value="CurrentObject!.Quotation" T="Quotation"
                                             ToStringFunc="@(e=> e==null?null : $"{e.EffectiveDate!.Value:dd-MMM-yyyy} | {e.ObjectCode!} | {e.ObjectName!} ({e.TotalAmountText}))")"
                                             ValueChanged="OnQuotationChanged" />
                        </MudItem>
                        <MudItem xs="1">
                            <MudSelect ReadOnly="@IsViewMode" Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-select" Required="true"
                                       Label="LBU" T="string"
                                       Value=CurrentObject!.LBU For="@(() => CurrentObject.LBU)" ValueChanged="OnLBUChanged" OnlyValidateIfDirty="true">
                                @foreach (string lbuID in _lbuIDList)
                                {
                                    <MudSelectItem Value=@lbuID>@lbuID</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="2">
                            <MudDatePicker ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-datepicker" Editable="true" DateFormat="dd-MMM-yyyy" Required="true"
                                           AdornmentIcon="material-symbols-rounded/calendar_month" AdornmentColor="@Color.Primary"
                                           Label="Date"
                                           @bind-Date=@CurrentObject.EffectiveDate For="@(() => CurrentObject.EffectiveDate)" />
                        </MudItem>
                        <MudItem xs="2">
                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Required="true"
                                          Label="PR #" MaxLength="80"
                                          @bind-Value=CurrentObject!.PRID For="@(() => CurrentObject.PRID)" OnlyValidateIfDirty="true" @ref=_txtBoxPrNo />
                        </MudItem>
                        <MudItem xs="2">
                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered"
                                          Label="PO #" MaxLength="80"
                                          @bind-Value=CurrentObject!.ObjectCode For="@(() => CurrentObject.ObjectCode)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="2">
                            <MudDatePicker ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-datepicker" Editable="true" DateFormat="dd-MMM-yyyy" 
                                           AdornmentIcon="material-symbols-rounded/calendar_month" AdornmentColor="@Color.Primary"
                                           Label="Expiry Date"
                                           @bind-Date=@CurrentObject.ExpiryDate For="@(() => CurrentObject.ExpiryDate)"  />
                        </MudItem>
                        <MudItem xs="3">
                            <MudComboBox ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-combo-box" Editable="true" Variant="Variant.Text" SearchBox="true" Strict="true" autocomplete="new-password"
                                         Label="Vendor/Supplier" T="string"
                                         @bind-Value="@CurrentObject.VendorID" For="@(() => CurrentObject.VendorID)"
                                         ToStringFunc="@(e => string.IsNullOrEmpty(e) ? "" : _vendorList.Single<DropdownSelectItem>(x => x.Key == e)?.Value)">
                                <ChildContent>
                                    @foreach (var vendor in _vendorList)
                                    {
                                        <MudComboBoxItem T="string" Value="@vendor.Key" Text="@vendor.Value">@vendor.Value</MudComboBoxItem>
                                    }
                                </ChildContent>
                            </MudComboBox>
                        </MudItem>
                        <MudItem xs="10">
                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered"
                                          Label="Description"
                                          @bind-Value=CurrentObject!.ObjectName For="@(() => CurrentObject.ObjectName)" OnlyValidateIfDirty="true"
                                          MaxLength="255" />
                        </MudItem>
                        <MudItem xs="2">
                            <MudSelect ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-select" FullWidth="true" Required="true"
                                       Label="Status"
                                       @bind-Value=CurrentObject!.WorkflowStatus For="@(() => CurrentObject.WorkflowStatus)" OnlyValidateIfDirty="true">
                                @foreach (DropdownSelectItem wfs in _wfsList)
                                {
                                    <MudSelectItem Value=@wfs.Key>@wfs.Value</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="1">
                            <MudSelect ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-select" FullWidth="true" Required="true"
                                       Label="Currency" 
                                       @bind-Value=CurrentObject!.CurrencyCode For="@(() => CurrentObject.CurrencyCode)" OnlyValidateIfDirty="true">
                                @foreach (DropdownSelectItem curr in _currList)
                                {
                                    <MudSelectItem Value=@curr.Key>@curr.Key</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="2">
                            <MudNumericField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" HideSpinButtons="true" Culture="@CultureInfo.GetCultureInfo("en-US")" Required="true"
                                             Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Rounded.AttachMoney" AdornmentColor=@Color.Primary
                                             Label="Total Amount" Format="#,##0.00"
                                             @bind-Value=CurrentObject!.TotalAmount For="@(() => CurrentObject.TotalAmount)" OnlyValidateIfDirty="true" 
                                             Step=".1M" Min="0" />
                        </MudItem>
                        <MudItem xs="2">
                            <MudNumericField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" HideSpinButtons="true" Culture="@CultureInfo.GetCultureInfo("en-US")" 
                                             Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Rounded.AttachMoney" AdornmentColor=@Color.Primary
                                             Label="Tax Amount" Step=".1M" Format="#,##0.00" Min="0"
                                             @bind-Value=CurrentObject!.TotalTaxAmount For="@(() => CurrentObject.TotalTaxAmount)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="7">
                            <MudText Typo="Typo.body1" Class="reddit-mono-400">@(CurrentObject.FileNameDisplay)</MudText>
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" MaxLines="25" Lines=4
                                          Label="Remark" 
                                          @bind-Value=CurrentObject!.Remark For="@(() => CurrentObject!.Remark)" OnlyValidateIfDirty="true"
                                          MaxLength="1000" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudStack Spacing="2" Justify=Justify.FlexStart Class="mt-3">
                                @if (!IsViewMode)
                                {
                                    <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Class="pru-btn-base in-pg-action" Color="Color.Info"
                                               StartIcon="material-symbols-rounded/add"
                                               Disabled=@(_tempItemToAdd != null) OnClick="AddItem">
                                        Add Item
                                    </MudButton>
                                }
                                <MudDataGrid Class="pru-mud-datagrid" Dense="true" Hover="true" FixedHeader="true" Striped="true" ReadOnly=@IsViewMode Elevation="0"
                                             ColumnResizeMode="ResizeMode.Container" HorizontalScrollbar="true" EditTrigger="DataGridEditTrigger.Manual"
                                             EditDialogOptions=@(new (){ BackdropClick=false, MaxWidth=MaxWidth.Medium, FullWidth=true })
                                             StartedEditingItem="@StartedEditingItem" CanceledEditingItem="@CanceledEditingItem" CommittedItemChanges="@CommittedItemChanges" Style="width:100%"
                                             @ref="_qItemDataGrid" T="PurchaseOrderItem" Items="@CurrentObject!.Items">
                                    <Columns>
                                        <PropertyColumn Property="x => x.OrderNo" Title="No." Editable="false" HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell" CellStyle="text-align:right" Sortable="false"
                                                        Context="qi">
                                            <EditTemplate>
                                                <MudStack Row="true" Spacing="1" AlignItems="AlignItems.Center" Justify="Justify.FlexStart">
                                                    <MudText Typo="Typo.body1">Order # </MudText>
                                                    <MudText Typo="Typo.body1" Style="font-weight:800">@qi.Item.OrderNo</MudText>
                                                </MudStack>
                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.ObjectName" Title="Item" HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell" Context="qi">
                                            <EditTemplate>
                                                <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Required="true"
                                                              Label="Name"
                                                              @bind-Value=qi.Item.ObjectName For="@(() => qi.Item.ObjectName)" OnlyValidateIfDirty="true"
                                                              MaxLength="255" />
                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.UnitPrice" Title="Unit Price" Format="@(CurrentObject!.CurrencyCode == PruGC.Currencies.USD ? "#,##0.00" : "#,##0")" HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell" Context="qi" CellStyle="text-align:right"
                                                        Filterable="false" Sortable="false">
                                            <EditTemplate>
                                                <MudStack Row=true Spacing="3" AlignItems="AlignItems.Start" Justify="Justify.FlexStart" StretchItems="StretchItems.All">
                                                    <MudNumericField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" HideSpinButtons="true" Culture="@CultureInfo.GetCultureInfo("en-US")" Required="true"
                                                                     Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Rounded.AttachMoney" AdornmentColor=@Color.Primary
                                                                     Label="Unit Price" Format="#,##0.##" Min="0" Step=".1M"
                                                                     @bind-Value=qi.Item.UnitPrice For="@(() => qi.Item.UnitPrice)" OnlyValidateIfDirty="true" />
                                                    <MudNumericField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" HideSpinButtons="true" Culture="@CultureInfo.GetCultureInfo("en-US")" Required="true"
                                                                     Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Rounded.Numbers"
                                                                     Label="Quantity" Format="#,##0.##" Min="0" Step=".1M"
                                                                     @bind-Value=qi.Item.Quantity For="@(() => qi.Item.Quantity)" OnlyValidateIfDirty="true" />
                                                    <MudNumericField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" HideSpinButtons="true" Culture="@CultureInfo.GetCultureInfo("en-US")" Disabled="true"
                                                                     Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Rounded.AttachMoney" AdornmentColor=@Color.Primary
                                                                     Label="Total Amount" Format="#,##0.##" Min="0" Step=".1M" 
                                                                     @bind-Value=qi.Item.TotalAmount For="@(() => qi.Item.TotalAmount)" OnlyValidateIfDirty="true" />

                                                </MudStack>
                                                
                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn 
                                            Property="x => x.Quantity" Title="Quantity" Format="#,##0.##" HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell" Context="qi" CellStyle="text-align:right"
                                                        Filterable="false" Sortable="false" Editable="false">
                                            <EditTemplate>
                                                @* <MudNumericField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" HideSpinButtons="true" Culture="@CultureInfo.GetCultureInfo("en-US")" Required="true"
                                                                 Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Rounded.Numbers"
                                                                 Label="Quantity" Format="#,##0.##" Min="0" Step=".1M"
                                                                 @bind-Value=qi.Item.Quantity For="@(() => qi.Item.Quantity)" OnlyValidateIfDirty="true" /> *@
                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.StartDate" Title="Start Date" Format="dd-MMM-yyyy" HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell" Context="qi"
                                                        Filterable="false" Sortable="false">
                                            <EditTemplate>
                                                <MudStack Row=true Spacing="3" AlignItems="AlignItems.Start" Justify="Justify.FlexStart" StretchItems="StretchItems.All">
                                                    <MudDatePicker ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-datepicker" Editable="true" DateFormat="dd-MMM-yyyy" 
                                                                   AdornmentIcon="material-symbols-rounded/calendar_month" AdornmentColor="@Color.Primary"
                                                                   Label="Start Date"
                                                                   @bind-Date=@qi.Item.StartDate For="@(() => qi.Item.StartDate)" />
                                                    <MudDatePicker ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered pru-ui-datepicker" Editable="true" DateFormat="dd-MMM-yyyy" 
                                                                   AdornmentIcon="material-symbols-rounded/calendar_month" AdornmentColor="@Color.Primary"
                                                                   Label="End Date"
                                                                   @bind-Date=@qi.Item.EndDate For="@(() => qi.Item.EndDate)" />
                                                </MudStack>
                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.EndDate" Title="End Date" Format="dd-MMM-yyyy" HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell" Context="qi"
                                                        Filterable="false" Sortable="false">
                                            <EditTemplate>
                                                
                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.TotalAmount" Title="Total Amount" HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" Required=false CellClass="pru-mud-datagrid-cell" Editable="false" CellStyle="text-align:right"
                                                        Filterable="false" Sortable="false"
                                                        Format="@(CurrentObject!.CurrencyCode == PruGC.Currencies.USD ? "#,##0.00" : "#,##0")" Context="qi" AggregateDefinition="@_itemAggr">
                                            <EditTemplate>
                                                @* <MudNumericField @bind-Value=qi.Item.UnitPrice Label="Unit Price" Step=".1M" Format="#,##0.##" Min="0" HideSpinButtons="true" ReadOnly=@IsViewMode Culture="@CultureInfo.GetCultureInfo("en-US")"
                                                For="@(() => qi.Item.UnitPrice)" OnlyValidateIfDirty="true" Clearable="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Rounded.AttachMoney" />*@                                            </EditTemplate>
                                        </PropertyColumn>
                                        <PropertyColumn Property="x => x.Remark" Title="Remark" HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" HeaderStyle=@(DataGridHdrStyle + ";width:500px;max-width:350px")
                                                        CellClass="pru-mud-datagrid-cell" Context="qi" Filterable="false" Sortable="false">
                                            <EditTemplate>
                                                <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered"
                                                              Label="Remark" MaxLines="25" Lines=4 MaxLength="1000"
                                                              @bind-Value=qi.Item.Remark For="@(() => qi.Item.Remark)" OnlyValidateIfDirty="true" />
                                            </EditTemplate>
                                        </PropertyColumn>
                                        <TemplateColumn Hidden=@IsViewMode Title="Action" HeaderClass="pru-mud-datagrid-hdr cruc-pg-items" CellClass="pru-mud-datagrid-cell d-flex justify-end" Context="qi">
                                            <CellTemplate>
                                                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@qi.Actions.StartEditingItemAsync" />
                                                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" Color="Color.Error" OnClick="@(() => RemoveItem(qi.Item))" />
                                            </CellTemplate>
                                        </TemplateColumn>
                                    </Columns>
                                </MudDataGrid>
                            </MudStack>
                        </MudItem>
                        <MudItem xs="12">
                            @if (CurrentEditContext.GetValidationMessages().Any() || InvalidMsgList.Count > 0)  
                            {
                                <MudPaper Class="p-3" Height="100%" Width="100%">
                                    <ValidationSummary />
                                    @foreach (string key in InvalidMsgList.Keys)
                                    {
                                        <MudAlert Severity="Severity.Warning" Variant=Variant.Filled Dense=true>@InvalidMsgList[key]</MudAlert>
                                        <li>@InvalidMsgList[key]</li>
                                    }
                                </MudPaper>
                            }
                        </MudItem>
                    </MudGrid>
                </MudPaper>
            </MudTabPanel>
            <MudTabPanel Text="History" Icon="material-symbols-rounded/history" Class="pru-mud-tab-panel" Style="min-width:120px">
                <MudPaper Class="px-4 pt-2 pb-5 overflow-y-auto" Height="calc(100vh - 210px)" Width="100%" Elevation="0" Style="position:relative">
                </MudPaper>
            </MudTabPanel>
        </MudTabs>
    </EditForm>
}


@code {
    #region UI PARAM
    IEnumerable<DropdownSelectItem> _vendorList = Enumerable.Empty<DropdownSelectItem>();
    IEnumerable<DropdownSelectItem> _lbuList = Enumerable.Empty<DropdownSelectItem>();
    IEnumerable<DropdownSelectItem> _currList = Enumerable.Empty<DropdownSelectItem>();
    IEnumerable<DropdownSelectItem> _wfsList = Enumerable.Empty<DropdownSelectItem>();
    IEnumerable<Quotation> _quotList = Enumerable.Empty<Quotation>();
    MudDataGrid<PurchaseOrderItem> _qItemDataGrid = new();
    public readonly string DataGridHdrStyle = "font-weight:700; background-color:var(--pru-gray-default); color:#FFFFFF; border-right:1px solid #FFFFFF; padding-inline-start: 10px; padding-inline-end:5px; line-height:100%; padding-top:4px; padding-bottom:4px";
    PurchaseOrderItem? _tempItemToAdd;
    IEnumerable<string> _lbuIDList = ["PCLA", "PMLI", "PLAL"];
    MudTextField<string>? _txtBoxPrNo;

    AggregateDefinition<PurchaseOrderItem> _itemAggr = new AggregateDefinition<PurchaseOrderItem>
    {
        Type = AggregateType.Sum,
        DisplayFormat = "{value}"
    };
    #endregion

    #region PAGE LIFECYCLE FUNCTIONS
    public override Task SetParametersAsync(ParameterView parameters)
    {
        UrlPrefix = "/fin/po";

        return base.SetParametersAsync(parameters);
    }

    protected override async Task OnInitializedAsync()
    {
        switch(CRUCMode)
        {
            case CRUCModes.READ:
                {
                    CurrentObject = await Uow.PurchaseOrders.GetFullAsync(Id);
                    IsViewMode = true;
                }
                break;
            case CRUCModes.CREATE:
                {
                    CurrentObject = new();
                    _quotList = await Uow.Quotations.GetForPRPOAsync();
                }
                break;
            case CRUCModes.UPDATE:
                CurrentObject = await Uow.PurchaseOrders.GetFullAsync(Id);
                break;
            case CRUCModes.CLONE:
                {
                    var tempObj = await Uow.PurchaseOrders.GetFullAsync(Id);
                    CurrentObject = tempObj.DeepClone();
                    CurrentObject!.Id = 0;
                    CurrentObject!.ObjectCode = String.Empty;

                    _quotList = await Uow.Quotations.GetForPRPOAsync();
                } break;
        }

        CurrentEditContext = new EditContext(CurrentObject!);

        HeaderTitle = ObjectDisplayName;

        await PopulateUIControl();
    }

    override protected async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (CRUCMode == CRUCModes.CREATE)
            {
                await Task.Delay(200);

                if (_txtBoxPrNo != null)
                {
                    await _txtBoxPrNo.FocusAsync();
                }
            }
        }
    }
    #endregion

    #region UI FUNCTIONS
    void AddItem()
    {
        _tempItemToAdd = new()
            {
                OrderNo = CurrentObject!.Items.Count + 1
            };
        CurrentObject!.Items.Add(_tempItemToAdd);
        _qItemDataGrid.SetEditingItemAsync(_tempItemToAdd);
    }

    void RemoveItem(PurchaseOrderItem i)
    {
        int orderNoToRemove = i.OrderNo!.Value;

        if (i.Id > 0)
        {
            //#TODO# NOT YET IMPLEMENTED
        }
        else
        {
            CurrentObject!.Items.Remove(i);

            foreach (PurchaseOrderItem item in CurrentObject!.Items.Where(x => x.OrderNo > orderNoToRemove).OrderBy(x => x.OrderNo))
            {
                item.OrderNo = orderNoToRemove;
                orderNoToRemove++;
            }
        }
    }

    void StartedEditingItem(PurchaseOrderItem item)
    {

    }

    void CanceledEditingItem(PurchaseOrderItem item)
    {
        if (_tempItemToAdd != null)
        {
            CurrentObject!.Items.RemoveAt(CurrentObject!.Items.FindIndex(x => x.OrderNo == item.OrderNo));
            _tempItemToAdd = null;
        }
    }

    void CommittedItemChanges(PurchaseOrderItem item)
    {
        _tempItemToAdd = null;
        item.TotalAmount = item.UnitPrice!.Value * item.Quantity!.Value;
    }

    private async Task OnLBUChanged(string lbu)
    {
        if (!string.IsNullOrEmpty(lbu))
        {
            CurrentObject!.LBU = lbu;
            _vendorList = await Uow.Vendors.GetForDropdownListAsync(CurrentObject!.LBU, CurrentObject!.VendorID);
        }
        else
        {
            CurrentObject!.LBU = null;
            _vendorList = [];
        }
    }

    private async Task<IEnumerable<Quotation>> SearchQuotation(string value, CancellationToken token)
    {
        await Task.CompletedTask;

        if (!string.IsNullOrEmpty(value))
            return _quotList.Where(x => x.ObjectCode!.Contains(value, StringComparison.InvariantCultureIgnoreCase) || x.ObjectName!.Contains(value, StringComparison.InvariantCultureIgnoreCase));
        else
            return _quotList;
    }

    async Task OnQuotationChanged(Quotation item)
    {
        if (item != null)
        {
            CurrentObject!.LBU = item.LBU;
            CurrentObject!.Quotation = item;
            CurrentObject!.QuotationId = item.Id;
            CurrentObject!.QuotationCode = item.ObjectCode;
            CurrentObject!.ObjectName = item.ObjectName;
            CurrentObject!.VendorID = item.VendorID;
            CurrentObject!.CurrencyCode = item.CurrencyCode;
            CurrentObject!.TotalAmount = item.TotalAmount;
            CurrentObject!.TotalTaxAmount = item.TotalTaxAmount;

            var quotationItems = await Uow.QuotationItems.GetByQuotationAsync(item.ObjectCode!);

            foreach (QuotationItem qi in quotationItems)
            {
                PurchaseOrderItem poi = new()
                    {
                        OrderNo = qi.OrderNo,
                        ObjectName = qi.ObjectName,
                        ObjectCode = qi.ObjectCode,
                        Quantity = qi.Quantity,
                        UnitPrice = qi.UnitPrice,
                        TotalAmount = qi.TotalAmount,
                        StartDate = qi.StartDate,
                        EndDate = qi.EndDate,
                        Remark = qi.Remark,
                        IsDeleted = false
                    };

                CurrentObject.Items.Add(poi);
            }
        }
        else
        {
            CurrentObject!.LBU = null;
            CurrentObject!.Quotation = null;
            CurrentObject!.QuotationId = null;
            CurrentObject!.QuotationCode = null;
            CurrentObject!.ObjectName = null;
            CurrentObject!.VendorID = null;
            CurrentObject!.CurrencyCode = null;
            CurrentObject!.TotalAmount = null;
            CurrentObject!.TotalTaxAmount = null;
            CurrentObject.Items.Clear();
        }

        await Task.CompletedTask;
    }
    #endregion

    #region UPDATE FUNCTIONS
    protected override async Task PreSaveProcessing()
    {
        // CurrentObject!.ObjectCode = CurrentObject!.ObjectCode!.ToUpper();
        await Task.CompletedTask;
    }

    protected override async Task ValidatePreSave()
    {
        InvalidMsgList.Clear();

        bool isDuplicated = await Uow.PurchaseOrders.IsDuplicateCodeAsync(CurrentObject!.Id, CurrentObject!.ObjectCode!);

        if (isDuplicated)
        {
            InvalidMsgList.Add("ObjectCode_Duplicate", $"PO with reference no. '{CurrentObject.ObjectCode}' is already existed.");
        }
    }

    protected override async Task<bool> SaveAndCommitProcessing()
    {
        DateTime timestamp = DateTime.Now;

        if (CurrentObject!.Id == 0)
        {
            CurrentObject!.CreatedUser = AuditTrailUser;
            CurrentObject!.CreatedDateTime = timestamp;
        }

        CurrentObject!.ModifiedUser = AuditTrailUser;
        CurrentObject!.ModifiedDateTime = timestamp;

        int objId = await Uow.PurchaseOrders.InsertOrUpdateFullAsync(CurrentObject!);
        return objId > 0;
    }
    #endregion

    #region INTERNAL FUNCTION
    async Task PopulateUIControl()
    {
        _lbuList = PruLBUs.GetForDropdown();
        _wfsList = PurchaseOrderWFStatuses.GetForDropdownList();
        _currList = PruGC.Currencies.GetForDropdownList();

        if (!string.IsNullOrEmpty(CurrentObject!.LBU))
        {
            CurrentObject!.LBU = PruLBUs.PCLA;
        }

        _vendorList = await Uow.Vendors.GetForDropdownListAsync(CurrentObject!.LBU!, CurrentObject!.VendorID);

        // await Task.CompletedTask;
    }
    #endregion
}