@page "/it/pru-core-project/cruc/{CRUCMode}"
@page "/it/pru-core-project/cruc/{CRUCMode}/{id:int}"

@* @rendermode InteractiveAuto*@

@inherits CRUCPageBase<PruCoreProject>

@if (CurrentObject != null && CurrentEditContext != null)
{
    <EditForm EditContext="CurrentEditContext" OnValidSubmit="SaveDummy" OnInvalidSubmit="SaveDummy">
        <DataAnnotationsValidator />
        <MudPaper Class="px-4 py-3 rounded" Width="100%" Elevation="0" Square="true" Style="background-color:var(--pru-cyan-tw-50); border: solid 1px var(--pru-cyan-tw-400)">
            <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                <div style="color:var(--pru-cyan-default); font-size:28px;">
                    <span style="font-weight:800">@HeaderTitle</span>
                    @if (CRUCMode == CRUDCModes.READ)
                    {
                        <MudChip Size="Size.Small" Color="Color.Success" Class=@($"status-chip-tiny") T="string" Style="margin-top:-5px">View</MudChip>
                    }
                    else if (CRUCMode == CRUDCModes.UPDATE)
                    {
                        <MudChip Size="Size.Small" Color="Color.Info" Class=@($"status-chip-tiny") T="string">Update</MudChip>
                    }
                    else if (CRUCMode == CRUDCModes.CREATE)
                    {
                        <MudChip Size="Size.Small" Color="Color.Info" Class=@($"status-chip-tiny") T="string">New</MudChip>
                    }
                    else if (CRUCMode == CRUDCModes.CLONE)
                    {
                        <MudChip Size="Size.Small" Color="Color.Info" Class=@($"status-chip-tiny") T="string">New (Clone)</MudChip>
                    }
                </div>
                <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd">
                    @if (!IsViewMode)
                    {
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Color="Color.Primary" StartIcon="material-symbols-rounded/save_as" Class="pru-btn-base"
                                   OnClick="@(() => Save())">Save</MudButton>
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Color="Color.Primary" StartIcon="material-symbols-rounded/save" Class="pru-btn-base"
                                   OnClick="@(() => Save(true))">Save & Close</MudButton>
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Color="Color.Secondary" StartIcon="material-symbols-rounded/cancel" Class="pru-btn-base"
                                   OnClick="Cancel">Cancel</MudButton>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Filled" Size="Size.Small" DropShadow="false" Color="Color.Default" StartIcon="material-symbols-rounded/close" OnClick="Cancel">Close</MudButton>
                    }
                </MudStack>
            </MudStack>
        </MudPaper>
        <MudTabs Class="pru-mud-tab cruc-pg mt-3" Elevation="0">
            <MudTabPanel Text="Main" Icon="material-symbols-rounded/home" Class="pru-mud-tab-panel" Style="min-width:120px">
                <MudPaper Class="px-4 pt-2 pb-5 overflow-y-auto" Height="calc(100vh - 210px)" Width="100%" Elevation="0" Style="position:relative">
                    <MudGrid Spacing="2" Justify="Justify.SpaceEvenly">
                        <MudItem xs="2">
                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Required="true"
                                          Label="Code" MaxLength="3"
                                          @bind-Value=CurrentObject!.ObjectCode For="@(() => CurrentObject.ObjectCode)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="7">
                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Required="true"
                                          Label="Name" MaxLength="255"
                                          @bind-Value=CurrentObject!.ObjectName For="@(() => CurrentObject.ObjectName)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Required="true"
                                          Label="LBU(s)" MaxLength="255"
                                          @bind-Value=CurrentObject!.AzureLbuCodes For="@(() => CurrentObject.AzureLbuCodes)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="9">
                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Required="true"
                                          Label="Description" MaxLength="255"
                                          @bind-Value=CurrentObject!.Description For="@(() => CurrentObject.Description)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Required="true"
                                          Label="Business Function" MaxLength="255"
                                          @bind-Value=CurrentObject!.BusnFunc For="@(() => CurrentObject.BusnFunc)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Required="true"
                                          Label="Owner" MaxLength="255"
                                          @bind-Value=CurrentObject!.Owner For="@(() => CurrentObject.Owner)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Required="true"
                                          Label="Manager(s) Group" MaxLength="255"
                                          @bind-Value=CurrentObject!.ManagersGroup For="@(() => CurrentObject.ManagersGroup)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Required="true"
                                          Label="Contributor(s) Group" MaxLength="255"
                                          @bind-Value=CurrentObject!.ContributorsGroup For="@(() => CurrentObject.ContributorsGroup)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        <MudItem xs="3">
                            <MudTextField ReadOnly=@IsViewMode Clearable="true" ShrinkLabel="true" Class="pru-mud-form-field bordered" Required="true"
                                          Label="Viewer(s) Group" MaxLength="255"
                                          @bind-Value=CurrentObject!.ViewersGroup For="@(() => CurrentObject.ViewersGroup)" OnlyValidateIfDirty="true" />
                        </MudItem>
                        
                        @if (CurrentEditContext.GetValidationMessages().Any() || InvalidMsgList.Count > 0)
                        {
                            <MudItem xs="12" Class="pt-10">
                                @foreach (string msg in CurrentEditContext.GetValidationMessages())
                                {
                                    <MudAlert Variant="Variant.Outlined" Severity="Severity.Warning" Dense="true" Icon="material-symbols-rounded/warning" Class="pru-alert-validation mt-2">@msg</MudAlert>
                                }
                                @foreach (string key in InvalidMsgList.Keys)
                                {
                                    <MudAlert Variant="Variant.Outlined" Severity="Severity.Warning" Dense="true" Icon="material-symbols-rounded/warning" Class="pru-alert-validation mt-2">@InvalidMsgList[key]</MudAlert>
                                }
                            </MudItem>
                        }
                    </MudGrid>
                    @if (Id > 0)
                    {
                        <MudStack Row="true" Class="px-2 py-1" AlignItems="AlignItems.Center" Spacing="1" Style="position:absolute; bottom:0; left:0; right:0; background-color:var(--pru-red-tw-50)">
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-gray-default)">Created By</MudText>
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-red-default)">@CurrentObject.CreatedUser</MudText>
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-gray-default)">on</MudText>
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-red-default)">@(CurrentObject.CreatedDateTime.HasValue? CurrentObject.CreatedDateTime!.Value.ToString("dd-MMM-yyyy hh:mm:ss tt") : " - ")</MudText>
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-gray-default)"> | Last Modified By</MudText>
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-red-default)">@CurrentObject.ModifiedUser</MudText>
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-gray-default)">on</MudText>
                            <MudText Typo="Typo.body1" Style="font-size:8pt; color:var(--pru-red-default)">@(CurrentObject.ModifiedDateTime.HasValue? CurrentObject.ModifiedDateTime!.Value.ToString("dd-MMM-yyyy hh:mm:ss tt") : " - ")</MudText>
                        </MudStack>
                    }
                </MudPaper>
            </MudTabPanel>
            <MudTabPanel Text="History" Icon="material-symbols-rounded/history" Class="pru-mud-tab-panel" Style="min-width:120px">
                <MudPaper Class="px-4 pt-2 pb-5 overflow-y-auto" Height="calc(100vh - 210px)" Width="100%" Elevation="0" Style="position:relative">
                </MudPaper>
            </MudTabPanel>
        </MudTabs>
    </EditForm>
}


@code {
    #region UI PARAM
    IEnumerable<DropdownSelectItem> _vendorList = Enumerable.Empty<DropdownSelectItem>();
    IEnumerable<DropdownSelectItem> _lbuList = Enumerable.Empty<DropdownSelectItem>();
    IEnumerable<DropdownSelectItem> _currList = Enumerable.Empty<DropdownSelectItem>();
    IEnumerable<DropdownSelectItem> _wfsList = Enumerable.Empty<DropdownSelectItem>();
    IEnumerable<GLAccount> _glAccountList = Enumerable.Empty<GLAccount>();
    IEnumerable<FinActivityTracker> _finActTrackerList = Enumerable.Empty<FinActivityTracker>();
    MudDataGrid<InvoiceItem> _qItemDataGrid = new();
    MudDataGrid<ExpenseItem> _expItemDataGrid = new();
    InvoiceItem? _tempItemToAdd;
    ExpenseItem? _tempExpItemToAdd;
    IEnumerable<string> _lbuIDList = ["PCLA", "PMLI", "PLAL"];

    int? _expMth;
    int? _expYr;


    AggregateDefinition<InvoiceItem> _itemAggr = new AggregateDefinition<InvoiceItem>
    {
        Type = AggregateType.Sum,
        NumberFormat = "N2",
        DisplayFormat = "{value}"
    };

    AggregateDefinition<ExpenseItem> _expAggr = new AggregateDefinition<ExpenseItem>
    {
        Type = AggregateType.Sum,
        NumberFormat = "N2",
        DisplayFormat = "{value}"
    };
    #endregion

    #region PAGE LIFECYCLE FUNCTIONS
    public override Task SetParametersAsync(ParameterView parameters)
    {
        UrlPrefix = "/fin/invoice";

        return base.SetParametersAsync(parameters);
    }

    protected override async Task OnInitializedAsync()
    {
        switch (CRUCMode)
        {
            case CRUCModes.READ:
                {
                    CurrentObject = await Uow.PruCoreProjects.GetFullAsync(Id);
                    IsViewMode = true;
                }
                break;
            case CRUCModes.CREATE:
                {
                    CurrentObject = new();
                    _expMth = DateTime.Today.Month;
                    _expYr = DateTime.Today.Year;
                }
                break;
            case CRUCModes.UPDATE:
                CurrentObject = await Uow.PruCoreProjects.GetFullAsync(Id);
                break;
            case CRUCModes.CLONE:
                {
                    var tempObj = await Uow.PruCoreProjects.GetFullAsync(Id);
                    CurrentObject = tempObj.DeepClone();
                    CurrentObject!.Id = 0;
                    CurrentObject!.ObjectCode = null;
                }
                break;
        }

        CurrentEditContext = new EditContext(CurrentObject!);

        HeaderTitle = ObjectDisplayName;

        await PopulateUIControl();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            CurrentHotKeyContext = HotKeys.CreateContext()
            .Add(Code.Escape, CancelHotkeyPressed, new() { Exclude = Exclude.None })
            .Add(ModCode.Ctrl, Code.S, SaveHotKeyPressed, new() { Exclude = Exclude.None })
            .Add(ModCode.Ctrl | ModCode.Shift, Code.S, SaveAndCloseHotKeyPressed, new() { Exclude = Exclude.None });
        }

        return base.OnAfterRenderAsync(firstRender);
    }
    #endregion

    #region UI FUNCTIONS
    #endregion

    #region UPDATE FUNCTIONS
    protected override async Task PreSaveProcessing()
    {
        CurrentObject!.ObjectCode = CurrentObject!.ObjectCode!.ToUpper();
        await Task.CompletedTask;
    }

    protected override async Task ValidatePreSave()
    {
        InvalidMsgList.Clear();

        bool isDuplicated = await Uow.PruCoreProjects.IsDuplicateCodeAsync(CurrentObject!.Id, CurrentObject!.ObjectCode!);

        if (isDuplicated)
        {
            InvalidMsgList.Add("ObjectCode_Duplicate", $"Invoice with reference no. '{CurrentObject.ObjectCode}' is already existed.");
        }
    }

    protected override async Task<bool> SaveAndCommitProcessing()
    {
        DateTime timestamp = DateTime.Now;

        if (CurrentObject!.Id == 0)
        {
            CurrentObject!.CreatedUser = AuditTrailUser;
            CurrentObject!.CreatedDateTime = timestamp;
        }

        CurrentObject!.ModifiedUser = AuditTrailUser;
        CurrentObject!.ModifiedDateTime = timestamp;

        int objId = await Uow.PruCoreProjects.InsertOrUpdateFullAsync(CurrentObject!);
        return objId > 0;
    }
    #endregion

    #region INTERNAL FUNCTION
    async Task PopulateUIControl()
    {
        await Task.CompletedTask;
    }
    #endregion
}